
<div ng-controller="login_interfaceCtrl"><!--  -->
	<div class="gao88">
		<em class="icon-arrow-left yy-icon-arrow-left" ui-sref="imeimodel.imei_not_login"> </em>
		&nbsp; 登录
	</div>
	<div class="hr"></div>
	<div class="gao142">
		账号 &nbsp;
		<input type="text" placeholder="请输入账号"  ng-model="username">
		
	</div>
	<div class="hr"></div>
	<div class="gao142">
		密码 &nbsp;
		<input type="password" placeholder="请输入密码"  ng-model="password">
		
	</div>
	
	<div class="hr"></div>
	<div class="vacancy40"></div>
	<div class="gao155" >
		
		<button type="submit" class="gao155" ng-click="signin()" >
			登录
		</button>
		<br><br>
		<button type="submit" class="gao155" ng-click="signout()" >
			退出
		</button>
	</div>

	<div class="imei_login_interface_gao142">
		<a class="fr color_juse">忘记密码</a>
	</div>
	<!-- <div class="vacancy80"></div> -->
	<div class="imei_login_interface_tu13_or center">
		<div class="imei_login_interface_kuang40 fl"> </div>
		or
		<div class="imei_login_interface_kuang40 fr"> </div>
	</div>
	<!-- <div class="vacancy80"></div> -->
	<div >
		<div class="disanfang fl center">
			<div class="sanfang1"><img src="img/imei_icon_tubiao/weixin.png" alt="weixin"/>
			</div>
			<span>微信</span>
		</div>

		<div class="disanfang fl center">
			<div class="sanfang2 "><img src="img/imei_icon_tubiao/QQkong.png" alt="QQ"/>
			</div>
			<span class="clear ">QQ</span>
		</div>

		<div class="disanfang fl center">
			<div class="sanfang3"><img src="img/imei_icon_tubiao/xinlangweibo.png" alt="xinlangweibo"/>
			</div>
			<span>新浪微博</span>

		</div>
	</div>
	<div class="vacancy80"></div>
	<div class="imei_login_interface_gao142 color_juse center"  >
		<a ui-sref="imei.imei_sign_in" class="color_juse"> 注册账号</a>
	</div>
</div>
	