<div ng-controller="imei_homestart_controller">
		<div class="touminghui"> </div>
		
		<div class="start_toubu">
			<div class="toubu fl">小纸条 <div class="di_juse hide"> </div></div>
			<div class="toubu fl">评论 <div class="di_juse"> </div></div>
			<div class="toubu fl">赞      <div class="di_juse hide"> </div></div>
		</div>
 		<div class="color_ee ">
 			<div class="fenxiangimg pulse animated"> 
 				<div class="fl yiban center">
 					<div class="start_img1"><img src="img/start/xiangce.png"/> </div>
 					<a class="xiangpian"> 相册 </a>
 				</div>
 				
 				<div class="fl yiban center" >
 					<div class="start_img2"><img src="img/start/xiangji.png"/> </div>
 					<a class="xiangpian center">拍照 </a>
 				</div>  	
 			</div>
 		</div>
 </div>		


