<div class="gao88">
	<em class="icon-arrow-left yy-icon-arrow-left" ui-sref="imei.imei_login_interface"> </em>
	&nbsp; 一键注册
</div>
<div class="hr"> </div>
<div class="gao88">
	账号 &nbsp;
	<input type="text" placeholder="123456im" >
</div>
<div class="hr"></div>

<div class="gao88"></div>

<div >
	<button class="gao155">
		一键注册
	</button>
</div>
<div class="imei_sign_ingao142 imei_sign_incenter">
	注册iMei账号表示 同意<a class="imei_sign_incolor_juse">用户协议</a>
</div>

<div class="vacancy150"></div>
<div class="vacancy150"></div>   
<div class="vacancy150"></div>

<div class="imei_sign_ingao142 color_juse center">
	<a ui-sref="imei.imei_email_signin" class="imei_sign_incolor_imei_sign_injuse">使用Email注册</a>
</div>

