body {
/*background:#FF4F24;*/
}
.imei_sign_incolor_juse{color:#ff7f24;}
.imei_sign_ingao142{height:50px;padding:46px;}
.imei_sign_ingao155imei_sign_in{height:150px;width: 100%;background: #FF7F24;font-size: 40px;color:#fff;}
.vacancyhui40{height:40px;background:#ddd;} .vacancyhui80{height:80px;background:#ddd;}
.imei_sign_intu11_tubiao{ width:25px;height:40px; }
/*----------------------------------图13------------------------------text-align:center*/
.imei_sign_ingao142 input{background: none;outline:none;border:0px;width: 210px;height: 45px;color:#000;
font-size: 35px;}
.imei_sign_intu13_or{height: 60px;color: #999;line-height:60px;}
.imei_sign_inkuang40{height:30px;border-bottom: 1px solid #ccc;width:45%;}
.gao88 input{background: none;outline:none;border:0px;width: 70%;height: 20px;color:#000;
font-size: 14px;word-wrap:break-word;}
/*input{background: none;outline:none;border:0px;width: 70%;height: 45px;color:#000;
font-size: 40px;word-wrap:break-word;}*/
.imei_sign_indisanfang{width:30%;  margin:1%;}
.sanfang1{ width:160px;height:160px; margin:10px auto 30px; }
.sanfang1 img,.sanfang2 img,.sanfang3 img{width:100%}
.sanfang2{ width:160px;height:160px;margin:10px auto 30px; }
.sanfang3{ width:160px;height:160px; margin:10px auto 30px; }
/*--------------------------------tu23 清除缓存-----------------------*/
.imei_sign_intouminghui{width:100%;height:100%;opacity:0.5;background:#000000;position:absolute;}
.imei_sign_inno_cache{position:absolute;top:600px;width: 80%;height:360px;background:#fff;margin:0 10%;}
.imei_sign_inzhongbu{height:120px;margin:0 20px;font-size:30px;}
.imei_sign_incache_toubu{height:120px; line-height:120px;}
.imei_sign_intu23_no{width: 49%;height:120px;line-height:120px;border-top:1px solid #ccc;border-right:1px solid #ccc;}
.imei_sign_intu23_yes{width:49%;height:120px;line-height:120px;border-top:1px solid #ccc;}
.imei_sign_intu23_no_cache{width: 49%;height:120px;line-height:120px;border-top:1px solid #ccc;border-right:1px solid #ccc;}
.imei_sign_intu23_yes_cache{width:49%;height:120px;line-height:120px;border-top:1px solid #ccc;}
/*--------------------------------图23 确定退出--------------------------
.exit{height:240px;background:#FFFFFF;position:absolute;width:80%;top:650px;margin:0 10%;}*/
@media screen and (max-width:950px){
.imei_sign_ingao142{height:40px;padding:36px;}
.imei_sign_ingao155imei_sign_in{height:130px;width: 100%;font-size: 35px;}
.imei_sign_invacancyhui40{height:35px;} .vacancyhui80{height:70px;;}
.imei_sign_intu11_tubiao{width:22px;height:35px; }
/*----------------------------------图13------------------------------*/
.imei_sign_ingao142 input{width: 60%;height: 40px;font-size: 30px;}
}
@media screen and (max-width:650px){
.imei_sign_ingao142{height:30px;padding:30px;}
.imei_sign_ingao155imei_sign_in{height:110px;width: 100%;font-size: 30px;}
.imei_sign_invacancyhui40{height:30px;} .vacancyhui80{height:60px;;}
.imei_sign_intu11_tubiao{width:15px;height:30px; }
/*----------------------------------图13------------------------------*/
.imei_sign_ingao142 input{width: 60%;height: 40px;font-size: 25px;}
		
}
@media screen and (max-width:510px){

.imei_sign_ingao142{height:25px;padding:25px;text-align:center;} 
.imei_sign_ingao155imei_sign_in{height:100px;width: 100%;font-size: 25px;}
.imei_sign_invacancyhui40{height:25px;} .vacancyhui80{height:50px;;}
.imei_sign_intu11_tubiao{width:12px;height:25px; }
.imei_sign_insanfang1{ width:130px;height:130px; margin:10px auto 30px; }
.imei_sign_insanfang2{ width:130px;height:130px;margin:10px auto 30px; }
.imei_sign_insanfang3{ width:130px;height:130px; margin:10px auto 30px; }



}
@media screen and (max-width:400px){
	.sanfang1{ width:100px;height:100px; margin:10px auto 20px; }
	.sanfang2{ width:100px;height:100px; margin:10px auto 20px; }
	.sanfang3{ width:100px;height:100px; margin:10px auto 20px; }
	/*--------------------------------tu23 清除缓存-----------------------*/

	
	
}
