/*body {
background:#555;
}*/
button{outline:none;border-style: none;}
/*人物以上*/

.tusi_tupiao1{float:left;width:20px;height:40px;margin:0 25px;float:left;}
.tusi_tupiao1 img{width:100%;}
.zhaopianxiangqin{width:80%;height:30px;float:left;font-size:30px;font-weight: bold;margin:0 5px;}
.tusi_xiaotu{height:80px;width: 80px;float:left;margin:0 50px;}
.tusi_xiaotu img{width:100%}
.tusi_xuelv{float:left;width:75%;height:70px;line-height:70px;font-weight: bold;
font-size:30px;margin:0 0 0 20px;}
.tusi_xuelv a{width:70%;display:block;color:#000000;float: left;}
 .tusi_guanzhu{background:#ff4f24;width: 130px;height:60px;color:#FFFFFF;
font-size:30px;margin:5px 0;}
.tusi_yiguanzhu{background:#e5e5e5;width: 130px;height:60px;color:#999;
font-size:30px;margin:5px 0;}
/*人物以下*/
.tu4_renwutu{height:900px;width:100%;}
.tu4_renwutu img{width:100%;z-index: 1;height:900px;}
.renwu_miaoshu{/*background:url(../img/tusi/renwubiaoqian.png) no-repeat;background-size:cover;*/font-size:35px; 
margin:-800px 1% 0 75%;width:200px;height:60px;line-height:60px;text-align:right;color:#111;opacity: 0.3;z-index: 2}
.renwu_miaoshu span{display:block;margin:-80px 5px 0 0;color:#FFFFFF;}
.renwu_miaoshu img{height:60px;}
.toupiaolv{width:80%;height:30px;float:left;font-size:40px;font-weight: bold;margin:0 50px;}
/*.toupiaojieguo{width:20%}*/
.toupiaopingjia{width:150px;height:100px;}

.tiaoxingtur{width:63%;}
.tiaoxingtu{height:60px;width:100%;line-height:60px;}
.tiaoxingtu span{height:60px;width:200px;background:#ff9245;}
.tiaoxingtul{width:25%;}
.tiaoxingtul li{width:100%;height:60px;line-height:60px; float:right;text-align:right;}
@media screen and (max-width:860px){
	.zhaopianxiangqin{width:80%;height:30px;float:left;font-size:30px;font-weight: bold;margin:0 5px;}
	.tusi_xiaotu{height:80px;width: 80px;float:left;margin:0 40px;}
	.tusi_xuelv{float:left;width:70%;height:70px;line-height:70px;font-weight: bold;
	font-size:30px;margin:0 0 0 20px;}
	.tusi_xuelv a{width:70%;}
	 .tusi_guanzhu{width: 110px;height:50px;color:#FFFFFF;
	font-size:30px;margin:5px 0;}
	.tusi_yiguanzhu{background:#e5e5e5;width: 110px;height:50px;color:#999;
font-size:30px;margin:5px 0;}
	/*人物以下*/
	.tu4_renwutu{height:650px;width:100%;}
	.tu4_renwutu img{height:650px;}
	.renwu_miaoshu{font-size:35px; margin:-500px 1% 0 65%;width:200px;height:60px;line-height:60px;text-align:right;color:#111;opacity: 0.3;z-index: 2}
	.renwu_miaoshu span{display:block;margin:-80px 5px 0 0;color:#FFFFFF;}
	.renwu_miaoshu img{width:100%;height:100%}
	.toupiaolv{width:80%;height:30px;float:left;font-size:35px;font-weight: bold;margin:0 45px;}
	/*.toupiaojieguo{width:20%}*/
	.toupiaopingjia{width:120px;height:80px;}
	.tiaoxingtu{height:40px;width:100%;line-height:40px;}
	.tiaoxingtu span{height:60px;width:200px;background:#ff9245;}
	.tiaoxingtul{width:25%;}
	.tiaoxingtul li{width:100%;height:40px;line-height:40px; float:right;text-align:right;}	
	.vacancy{height:10px;clear:both;}
}
@media screen and (max-width:620px){
	.zhaopianxiangqin{width:70%;height:30px;margin:0 5px;font-size:25px;}
	.tusi_xiaotu{height:70px;width: 70px;float:left;margin:0 30px;}
	.tusi_xuelv{float:left;width:70%;height:70px;line-height:70px;font-weight: bold;
	font-size:30px;margin:0 0 0 20px;}
	.tusi_xuelv a{width:70%;}
	 .tusi_guanzhu{width: 100px;height:45px;font-size:25px;margin:5px 0;}
	.tusi_yiguanzhu{width: 100px;height:45px;font-size:25px;margin:5px 0;}	 
	/*人物以下*/
	.tu4_renwutu{height:450px;width:100%;}
	.tu4_renwutu img{height:450px;}
	.renwu_miaoshu{font-size:25px; margin:-300px 1% 0 65%;width:150px;height:45px;line-height:45px;opacity: 0.3;z-index: 2}
	.renwu_miaoshu span{display:block;margin:-60px 5px 0 0;color:#FFFFFF;}
	.renwu_miaoshu img{width:100%;height:100%}
	.toupiaolv{width:80%;height:25px;float:left;font-size:30px;font-weight: bold;margin:0 40px;}
	/*.toupiaojieguo{width:20%}*/
	.toupiaopingjia{width:90px;height:60px;}
	.tiaoxingtu{height:35px;width:100%;line-height:35px;}
	.tiaoxingtu span{height:50px;width:170px;background:#ff9245;}
	.tiaoxingtul{width:25%;}
	.tiaoxingtul li{width:100%;height:35px;line-height:35px; float:right;text-align:right;}	
	
}
@media screen and (max-width:520px){
	.tusi_tupiao1{width:15px;height:30px;}
	.zhaopianxiangqin{width:70%;height:30px;margin:0 5px;font-size:25px;}
	.tusi_xiaotu{height:60px;width: 60px;float:left;margin:0 20px;}
	.tusi_xuelv{float:left;width:60%;height:70px;line-height:70px;font-weight: bold;
	font-size:30px;margin:0 0 0 20px;}
	.tusi_xuelv a{width:60%;}
	 .tusi_guanzhu{width: 90px;height:40px;font-size:25px;margin:15px 0;}
	 	.tusi_yiguanzhu{width: 90px;height:40px;font-size:25px;margin:15px 0;}	 
	/*人物以下*/
	.tu4_renwutu{height:350px;width:100%;}
	.tu4_renwutu img{height:350px;}
	.renwu_miaoshu{font-size:25px; margin:-300px 1% 0 65%;width:150px;height:45px;line-height:45px;opacity: 0.3;z-index: 2}
	.renwu_miaoshu span{display:block;margin:-60px 5px 0 0;color:#FFFFFF;}
	.renwu_miaoshu img{width:100%;height:100%}
	.toupiaolv{width:80%;height:25px;float:left;font-size:25px;font-weight: bold;margin:0 40px;}
	/*.toupiaojieguo{width:20%}*/
	.toupiaopingjia{width:90px;height:60px;}
	.tiaoxingtu{height:35px;width:100%;line-height:35px;}
	.tiaoxingtu span{height:35px;width:170px;background:#ff9245;}
	.tiaoxingtul{width:35%;}
	.tiaoxingtul li{width:100%;height:35px;line-height:35px; float:right;text-align:right;}	

}
@media screen and (max-width:400px){
	.vacancy{height:8px;}.vacancy40{15px;}
	.tusi_tupiao1{width:12px;height:24px;}
	.zhaopianxiangqin{width:70%;height:25px;margin:0 5px;font-size:20px;}
	.tusi_xiaotu{height:50px;width: 50px;float:left;margin:0 15px;}
	.tusi_xuelv{float:left;width:60%;height:60px;line-height:60px;font-weight: bold;
	font-size:20px;margin:0 0 0 15px;}
	.tusi_xuelv a{width:60%;}
	 .tusi_guanzhu{width: 80px;height:35px;font-size:20px;margin:10px 0;}
	 .tusi_yiguanzhu{width: 80px;height:35px;font-size:20px;margin:10px 0;}	 
	/*人物以下*/
	.tu4_renwutu{height:350px;width:100%;}
	.tu4_renwutu img{height:350px;}
	.renwu_miaoshu{font-size:20px; margin:-300px 20% 0 55%;width:150px;height:40px;line-height:40px;opacity: 0.3;z-index: 2}
	.renwu_miaoshu span{display:block;margin:-50px 10px 0 0;color:#FFFFFF;}
	.renwu_miaoshu img{width:80%;height:80%}
	.toupiaolv{width:80%;height:25px;float:left;font-size:20px;font-weight: bold;margin:0 20px;}
	/*.toupiaojieguo{width:20%}*/
	.toupiaopingjia{width:90px;height:50px;}
	.tiaoxingtu{height:35px;width:100%;line-height:35px;}
	.tiaoxingtu span{height:45px;width:170px;background:#ff9245;}
	.tiaoxingtul{width:30%;}
	.tiaoxingtul li{width:100%;height:35px;line-height:35px; float:right;text-align:right;}		
}
