<div ng-controller="imeiRecordController">
	<!-- <div class="touminghui" ng-hide="myVar"> </div> -->

	<div class="tu6_tibu">
		<div class="recordBiaoti center">
			记录
		</div>
		<div class="hr"></div>
		<div class="fl shuxian"></div>
		<div class="start" ng-repeat="n in recordRelationdata">
			<div class="jilu1">
				<div class="jilu">
					
					
					<div class="fl"></div>
					<div  class="yuan fl clear">
						{{count}}
					</div>
					<span class="tu6_font  fl">5-29 Start 没时美刻</span>
				</div>
				<div class="fl youbian clear"></div>
				<div class="fr zoubian">
					<div class="hr"></div>
					<div class="tu6_img"  ui-sref="imei.imei_recordPopup">
						<img ng-src="{{n.attributes.imeiUserImg._url}}"/>
					</div>

				</div>
			</div>

		
		</div>
	</div>
	<div class="vacancy150"> </div>


</div>