/*body {

}*/
hr{height:0px;}
.recordBiaoti{font-weight: bold;font-size:40px;margin: 25PX auto 30px;}
.jilu{font-size:30px;margin: 0 auto ;height: 50px;line-height:50px;}
.shuxian{border-right:1px solid #999;width: 65px;height: 35px; }
.yuan{width: 50px;height: 50px;background:#777777;border-radius:50px;color:#fff;margin:0px 40px;
font-size:40px;line-height:50px;text-align: center;}
.jilu .tu6_font{text-align:left;font-size:35px;margin:0px 20px  0;}
.zoubian{width: 85%;}
.youbian{border-right:1px solid #999;width: 65px;height: 610px;}
.tu6_img{width: 550px;height: 550px;margin:30px 100px;}
.tu6_img img{width:100%}

.jilu2{clear: both;}
/*----------------------------点击后-----------------------------------*/
.touminghui{background:#000000;opacity:0.5; width: 100%;height:100%;/*z-index: 2;*/position:absolute;}
.tu6_dianjihou{bottom:0px;height:1150px;width:100%;background:#fff;position:fixed;z-index: 3;}
.toupiaolv{padding:30px;}
.tu6_touji{margin:0 0 0 220px}

.tu6_or{height: 60px;color: #999;line-height:60px;}
.kuang40{height:30px;border-bottom: 1px solid #ccc;width:40%;}
.quxiao{width: 160px;height:80px;font-size: 40px;font-weight: bold;border:4px solid #eee;background:#fff;}
/*----------------------分享至 第三方------------------------------------*/
.fenxiang{width:86%;height:250px; margin:30px 7%;clear: both; z-index: 3}
.fengxiang1{margin:0 2%; height:230px;border:4px solid #eee;}
.tu6_disanfang1{ width:160px;height:160px; margin:10px auto ;}
.tu6_disanfang1 img,.tu6_disanfang2 img,.tu6_disanfang3 img,.tu6_disanfang4 img{width: 100%;}
.tu6_disanfang2{ width:160px;height:160px; margin:10px auto ;}
.tu6_disanfang3{ width:160px;height:160px; margin:10px auto ;}
.tu6_disanfang4{ width:160px;height:160px; margin:10px auto;}
.fenxiangCenter{width:90%;margin:0 auto;height:100px;}
/*------------------------tu4-------------------------*/
button{outline:none;border-style: none;}
/*人物以上*/

.tusi_tupiao1{float:left;width:20px;height:40px;margin:0 25px;float:left;}
.tusi_tupiao1 img{width:100%;}
.zhaopianxiangqin{width:80%;height:30px;float:left;font-size:30px;font-weight: bold;margin:0 5px;}
.tusi_xiaotu{height:80px;width: 80px;float:left;margin:0 50px;}
.tusi_xiaotu img{width:100%}
.tusi_xuelv{float:left;width:75%;height:70px;line-height:70px;font-weight: bold;
font-size:14px;margin:0 0 0 20px;}
.tusi_xuelv a{width:70%;display:block;color:#000000;float: left;}
 .tusi_guanzhu{background:#ff4f24;width: 130px;height:60px;color:#FFFFFF;
font-size:30px;margin:5px 0;}
/*人物以下*/
.tu4_renwutu{height:900px;width:100%;}
.tu4_renwutu img{width:100%;z-index: 1;height:900px;}
.renwu_miaoshu{/*background:url(../img/tusi/renwubiaoqian.png) no-repeat;background-size:cover;*/font-size:35px; 
margin:-800px 1% 0 75%;width:200px;height:60px;line-height:60px;text-align:right;color:#111;opacity: 0.3;z-index: 2}
.renwu_miaoshu span{display:block;margin:-80px 5px 0 0;color:#FFFFFF;}
.renwu_miaoshu img{height:60px;}
.toupiaolv{width:80%;height:30px;float:left;font-size:40px;font-weight: bold;margin:0 50px;}
/*.toupiaojieguo{width:20%}*/
.toupiaopingjia{width:150px;height:100px;}

.tiaoxingtur{width:63%;}
.tiaoxingtu{height:60px;width:100%;line-height:60px;}
.tiaoxingtu span{height:60px;width:200px;background:#ff9245;}
.tiaoxingtul{width:25%;}
.tiaoxingtul li{width:100%;height:60px;line-height:60px; float:right;text-align:right;}

@media screen and (max-width:950px){
	.recordBiaoti{font-size:40px;margin: 25PX auto 30px;}
	.jilu{font-size:30px;height: 50px;line-height:50px;}
	.shuxian{border-right:1px solid #999;width: 65px;height: 35px; }
	.yuan{width: 50px;height: 50px;border-radius:50px;margin:0px 40px;font-size:40px;line-height:50px;}
	.jilu .tu6_font{font-size:35px;margin:0px 20px  0;}
	.zoubian{width: 85%;}
	.youbian{border-right:1px solid #999;width: 65px;height: 510px;}
	.tu6_img{width: 500px;height: 500px;margin:30px 80px;}	
	/*----------------------------点击后-----------------------------------*/
	
	.tu6_dianjihou{bottom:0px;height:750px;width:100%;background:#fff;position:fixed;}
	.toupiaolv{padding:20px;}
	.tu6_touji{margin:0 0 0 200px}	
	.tu6_or{height: 40px;color: #999;line-height:40px;}
	.kuang40{height:20px;border-bottom: 1px solid #ccc;width:40%;}
	.quxiao{width: 140px;height:70px;font-size: 35px;font-weight: bold;border:4px solid #eee;background:#fff;}
	/*----------------------分享至 第三方------------------------------------*/
	.fenxiang{width:86%;height:220px; margin:20px 7%;clear: both; z-index: 3}
	.fengxiang1{margin:0 2%; height:210px;border:4px solid #eee;}
	.tu6_disanfang1{ width:130px;height:130px; margin:8px auto ;}
	.tu6_disanfang1 img,.tu6_disanfang2 img,.tu6_disanfang3 img,.tu6_disanfang4 img{width: 100%;}
	.tu6_disanfang2{ width:160px;height:130px; margin:8px auto ;}
	.tu6_disanfang3{ width:160px;height:130px; margin:8px auto ;}
	.tu6_disanfang4{ width:160px;height:130px; margin:8px auto;}

/*------------------------tu4-------------------------*/
.zhaopianxiangqin{width:80%;height:30px;float:left;font-size:30px;font-weight: bold;margin:0 5px;}
	.tusi_xiaotu{height:80px;width: 80px;float:left;margin:0 40px;}
	.tusi_xuelv{float:left;width:70%;height:70px;line-height:70px;font-weight: bold;
	font-size:30px;margin:0 0 0 20px;}
	.tusi_xuelv a{width:70%;}
	 .tusi_guanzhu{width: 110px;height:50px;color:#FFFFFF;
	font-size:30px;margin:5px 0;}
	/*人物以下*/
	.tu4_renwutu{height:650px;width:100%;}
	.tu4_renwutu img{height:650px;}
	.renwu_miaoshu{font-size:35px; margin:-500px 1% 0 65%;width:200px;height:60px;line-height:60px;text-align:center;color:#111;opacity: 0.3;z-index: 2}
	.renwu_miaoshu span{display:block;margin:-80px 5px 0 0;color:#FFFFFF;}
	.renwu_miaoshu img{width:100%;height:100%}
	.toupiaolv{width:80%;height:30px;float:left;font-size:35px;font-weight: bold;margin:0 45px;}
	/*.toupiaojieguo{width:20%}*/
	.toupiaopingjia{width:120px;height:80px;}
	.tiaoxingtu{height:40px;width:100%;line-height:40px;}
	.tiaoxingtu span{height:60px;width:200px;background:#ff9245;}
	.tiaoxingtul{width:25%;}
	.tiaoxingtul li{width:100%;height:40px;line-height:40px; float:right;text-align:right;}	
	.vacancy{height:10px;clear:both;}
	
}
@media screen and (max-width:650px){
	.recordBiaoti{font-size:30px;margin: 15PX auto}
	.jilu{font-size:30px;height: 30px;line-height:30px;}
	.shuxian{border-right:1px solid #999;width: 45px;height: 25px; }
	.yuan{width: 35px;height: 35px;border-radius:35px;margin:0px 10px 0 28px;font-size:30px;line-height:35px;}
	.jilu .tu6_font{text-align:left;font-size:20px;margin:0 0 0 30px;width:200px;}
	.zoubian{width: 80%;}
	.youbian{border-right:1px solid #999;width: 45px;height: 350px;}
	.tu6_img{width: 250px;height: 250px;margin:30px 20px;}	
/*----------------------------点击后-----------------------------------*/	
.tu6_dianjihou{bottom:0px;height:610px;width:100%;background:#fff;position:fixed;}
	.toupiaolv{padding:10px;}
	.tu6_touji{margin:0 0 0 50px}	
	.tu6_or{height: 40px;color: #999;line-height:40px;}
	.kuang40{height:20px;border-bottom: 1px solid #ccc;width:40%;}
	.quxiao{width: 100px;height:50px;font-size: 25px;font-weight: bold;border:4px solid #eee;background:#fff;}
	/*----------------------分享至 第三方------------------------------------*/
	.fenxiang{width:100%;height:100px; margin:0 0 20px;clear: both; z-index: 3;font-size:15px;}
	.fengxiang1{margin:0 2%; height:100px;border:2px solid #eee;}
	.tu6_disanfang1{ width:65px;height:65px; margin:8px auto ;}
	.tu6_disanfang1 img,.tu6_disanfang2 img,.tu6_disanfang3 img,.tu6_disanfang4 img{width: 100%;}
	.tu6_disanfang2{ width:65px;height:65px; margin:8px auto ;}
	.tu6_disanfang3{ width:65px;height:65px; margin:8px auto ;}
	.tu6_disanfang4{ width:65px;height:65px; margin:8px auto;}
/*------------------------tu4-------------------------*/
.zhaopianxiangqin{width:70%;height:30px;margin:0 5px;font-size:25px;}
	.tusi_xiaotu{height:70px;width: 70px;float:left;margin:0 30px;}
	.tusi_xuelv{float:left;width:70%;height:70px;line-height:70px;font-weight: bold;
	font-size:30px;margin:0 0 0 20px;}
	.tusi_xuelv a{width:70%;}
	 .tusi_guanzhu{width: 100px;height:45px;font-size:25px;margin:5px 0;}
	/*人物以下*/
	.tu4_renwutu{height:450px;width:100%;}
	.tu4_renwutu img{height:450px;}
	.renwu_miaoshu{font-size:25px; margin:-300px 1% 0 65%;width:150px;height:45px;line-height:45px;opacity: 0.3;z-index: 2}
	.renwu_miaoshu span{display:block;margin:-60px 5px 0 0;color:#FFFFFF;}
	.renwu_miaoshu img{width:100%;height:100%}
	.toupiaolv{width:80%;height:25px;float:left;font-size:30px;font-weight: bold;margin:0 40px;}
	/*.toupiaojieguo{width:20%}*/
	.toupiaopingjia{width:90px;height:60px;}
	.tiaoxingtu{height:35px;width:100%;line-height:35px;}
	.tiaoxingtu span{height:50px;width:170px;background:#ff9245;}
	.tiaoxingtul{width:25%;}
	.tiaoxingtul li{width:100%;height:35px;line-height:35px; float:right;text-align:right;}	
}
@media screen and (max-width:550px){
	.recordBiaoti{font-size:22px;margin: 10PX auto ;}
	.tu6_img{width: 280px;height: 280px;margin:30px 50px;}	
	
	.zhaopianxiangqin{width:70%;height:30px;margin:0 5px;font-size:25px;}
	.tusi_xiaotu{height:60px;width: 60px;float:left;margin:0 20px;}
	.tusi_xuelv{float:left;width:60%;height:70px;line-height:70px;font-weight: bold;
	font-size:14px;margin:0 0 0 20px;}
	.tusi_xuelv a{width:60%;}
	 .tusi_guanzhu{width: 90px;height:40px;font-size:25px;margin:15px 0;}
	/*人物以下*/
	.tu4_renwutu{height:350px;width:100%;}
	.tu4_renwutu img{height:350px;}
	.renwu_miaoshu{font-size:25px; margin:-300px 1% 0 65%;width:150px;height:45px;line-height:45px;opacity: 0.3;z-index: 2}
	.renwu_miaoshu span{display:block;margin:-60px 5px 0 0;color:#FFFFFF;}
	.renwu_miaoshu img{width:100%;height:100%}
	.toupiaolv{width:80%;height:25px;float:left;font-size:25px;font-weight: bold;margin:0 40px;}
	/*.toupiaojieguo{width:20%}*/
	.toupiaopingjia{width:90px;height:60px;}
	.tiaoxingtu{height:35px;width:100%;line-height:35px;}
	.tiaoxingtu span{height:35px;width:170px;background:#ff9245;}
	.tiaoxingtul{width:35%;}
	.tiaoxingtul li{width:100%;height:35px;line-height:35px; float:right;text-align:right;}	
.tusi_tupiao1{float:left;width:20px;line-height:20px;height:20px;margin:0 25px;float:left;}
}
@media screen and (max-width:435px){
	.recordBiaoti{font-size:18px;margin: 8PX auto ;}
	.jilu{font-size:30px;height: 30px;line-height:30px;}
	.shuxian{border-right:1px solid #999;width: 45px;height: 15px; }
	.yuan{width: 35px;height: 35px;border-radius:35px;margin:0px 10px 0 28px;font-size:30px;line-height:35px;}
	.jilu .tu6_font{text-align:left;font-size:15px;margin:0 0 0 8px;width:200px;}
	.zoubian{width: 80%;}
	.youbian{border-right:1px solid #999;width: 45px;height: 350px;}
	.tu6_img{width: 250px;height: 250px;margin:30px 20px;}	
	/*----------------------------点击后-----------------------------------*/
	
	.tu6_dianjihou{bottom:0px;height:500px;width:100%;background:#fff;position:fixed;}
	.toupiaolv{padding:10px;}
	.tu6_touji{margin:0 0 0 50px}	
	.tu6_or{height: 40px;color: #999;line-height:40px;}
	.kuang40{height:20px;border-bottom: 1px solid #ccc;width:40%;}
	.quxiao{width: 70px;height:35px;font-size: 14px;font-weight: bold;border:4px solid #eee;background:#fff;}
	/*----------------------分享至 第三方------------------------------------*/
	.fenxiang{width:100%;height:85px; clear: both; z-index: 3;font-size:15px;}
	.fengxiang1{margin:0 5px; height:85px;border:2px solid #eee;}
	.tu6_disanfang1{ width:65px;height:65px; margin:0 auto ;}
	.tu6_disanfang1 img,.tu6_disanfang2 img,.tu6_disanfang3 img,.tu6_disanfang4 img{width: 100%;}
	.tu6_disanfang2{ width:65px;height:65px; margin:0 auto ;}
	.tu6_disanfang3{ width:65px;height:65px; margin:0 auto ;}
	.tu6_disanfang4{ width:65px;height:65px; margin:0 auto;}
	/*------------------------tu4-------------------------*/
	.zhaopianxiangqin{width:70%;height:20px;line-height:20px;margin:0 5px;font-size:14px;}
	.tusi_xiaotu{height:50px;width: 50px;float:left;margin:0 15px;}
	.tusi_xuelv{float:left;width:60%;height:50px;line-height:50px;font-weight: bold;
	font-size:14px;margin:0 0 0 15px;}
	.tusi_xuelv a{width:60%;}
	 .tusi_guanzhu{width: 80px;height:35px;font-size:14px;margin:10px 0;}
	/*人物以下*/
	.tu4_renwutu{height:350px;width:100%;}
	.tu4_renwutu img{height:350px;}
	.renwu_miaoshu{font-size:14px; margin:-300px 20% 0 55%;width:150px;height:40px;line-height:40px;opacity: 0.3;z-index: 2}
	.renwu_miaoshu span{display:block;margin:-50px 10px 0 40px;color:#FFFFFF;}
	.renwu_miaoshu img{width:80%;height:80%}
	.toupiaolv{width:80%;height:20px;line-height:20px;float:left;font-size:14px;font-weight: bold;margin:0 20px;}
	/*.toupiaojieguo{width:20%}*/
	.toupiaopingjia{width:90px;height:50px;}
	.tiaoxingtu{height:35px;width:100%;line-height:35px;}
	.tiaoxingtu span{height:45px;width:170px;background:#ff9245;}
	.tiaoxingtul{width:30%;}
	.tiaoxingtul li{width:100%;height:35px;line-height:35px; float:right;text-align:right;}		
	
}