
		
		
		<div class="gao142">
			<em class="icon-arrow-left yy-icon-arrow-left" ui-sref="imei.imei_setup"> </em>
			&nbsp; 修改密码
			<div class="fr color_juse" ui-sref="imei.home11">保存</div>
		</div>
		<div class="hr clear"> </div>
		<div class="gao142">旧密码 &nbsp;<input type="text" placeholder="请输入旧密码" ></div>
		<div class="hr clear"> </div>
		<div class="gao142">新密码 &nbsp;<input type="text" placeholder="6-16位字符" ></div>
		<div class="hr clear"> </div>
		<div class="gao142">确认密码 &nbsp;<input type="text" placeholder="重复新密码" ></div>
		<div class="hr"> </div>

