/*body {

}*/

.tuwu_global{}
.tuwu_renwu{/*background:url(../img/tu4renwutu.png) no-repeat ;*/background-size:cover;background-position:center;
height:1740px;width:977px;margin:0 auto;}
/*.tuwu_renwu img{height:100%;width:100%; overflow:hidden;position:absolute;z-index: -1;}*//*float:left;left: -300px;*/
/*---------------------------体部文字美化-----------------------------*/
.hang{height: 132px;/*background:#FF4F24;*/}
.diyihang{background:red;opacity:0.9;line-height:132px;width:61%;font-size:40px;color:#fff;}
.dierhangl{background:red;opacity:0.9;line-height:132px;width:33%;font-size:40px;color:#fff;}
.dierhangr{background:#fd7d7a;opacity:0.9;line-height:132px;width:55%;font-size:40px;color:#fff;}
.disanhangl{background:#fd7d7a;opacity:0.9;line-height:132px;width:26%;font-size:40px;color:#fff;}
.disanhangr{background:#e0abdd;opacity:0.9;line-height:132px;width:48%;font-size:40px;color:#fff;}
.disihangl{background:#e0abdd;opacity:0.9;line-height:132px;width:44%;font-size:40px;color:#fff;}
.disihangr{background:#efb72e;opacity:0.9;line-height:132px;width:40%;font-size:40px;color:#fff;}
.diwuhangl{background:#efb72e;opacity:0.9;line-height:132px;width:40%;font-size:40px;color:#fff;}
.diwuhangr{background:#9ff99d;opacity:0.9;line-height:132px;width:33%;font-size:40px;color:#fff;}
.diliuhangl{background:#9ff99d;opacity:0.9;line-height:132px;width:33%;font-size:40px;color:#fff;}
.diliuhangr{background:#2be7e4;opacity:0.9;line-height:132px;width:26%;font-size:40px;color:#fff;}
.diqihang{background:#2be7e4;opacity:0.9;line-height:132px;width:54%;font-size:40px;color:#fff;}

.hang .fl{text-align: right;padding: 0 2% 0 0;}
.hang .fr{padding:0 0 0 2% ;}

@media screen and (max-width:850px){
	.tuwu_renwu{height:1500px;width:850px;margin:0 auto;}
	.hang{height: 90px;}
	.diyihang{line-height:90px;width:61%;font-size:35px;}
	.dierhangl{line-height:90px;width:33%;font-size:35px;}
	.dierhangr{line-height:90px;width:55%;font-size:35px;}
	.disanhangl{line-height:90px;width:26%;font-size:35px;}
	.disanhangr{line-height:90px;width:48%;font-size:35px;}
	.disihangl{line-height:90px;width:44%;font-size:35px;}
	.disihangr{line-height:90px;width:40%;font-size:35px;}
	.diwuhangl{line-height:90px;width:40%;font-size:35px;}
	.diwuhangr{line-height:90px;width:33%;font-size:35px;}
	.diliuhangl{line-height:90px;width:33%;font-size:35px;}
	.diliuhangr{line-height:90px;width:26%;font-size:35px;}
	.diqihang{line-height:90px;width:54%;font-size:35px;}
	.hang{height: 50px;}

}
@media screen and (max-width:800px){
	.tuwu_renwu{height:1450px;width:800px;margin:0 auto;}
}
@media screen and (max-width:750px){
	.tuwu_renwu{height:1400px;width:750px;margin:0 auto;}
}
@media screen and (max-width:700px){
	.tuwu_renwu{height:1300px;width:700px;margin:0 auto;}
}
@media screen and (max-width:650px){
	.tuwu_renwu{height:1200px;width:650px;margin:0 auto;}
}
@media screen and (max-width:600px){
	.tuwu_renwu{height:1100px;width:600px;margin:0 auto;}
	.hang{height: 70px;}
	.diyihang{line-height:70px;width:54%;font-size:25px;}
	.dierhangl{line-height:70px;width:30%;font-size:25px;}
	.dierhangr{line-height:70px;width:48%;font-size:25px;}
	.disanhangl{line-height:70px;width:27%;font-size:25px;}
	.disanhangr{line-height:70px;width:45%;font-size:25px;}
	.disihangl{line-height:70px;width:41%;font-size:25px;}
	.disihangr{line-height:70px;width:38%;font-size:25px;}
	.diwuhangl{line-height:70px;width:38%;font-size:25px;}
	.diwuhangr{line-height:70px;width:31%;font-size:25px;}
	.diliuhangl{line-height:70px;width:31%;font-size:25px;}
	.diliuhangr{line-height:70px;width:24%;font-size:25px;}
	.diqihang{line-height:70px;width:52%;font-size:25px;}
	
	
}
@media screen and (max-width:550px){
	.tuwu_renwu{height:1000px;width:550px;margin:0 auto;}
}
@media screen and (max-width:500px){
	.tuwu_renwu{height:900px;width:500px;margin:0 auto;}
}
@media screen and (max-width:450px){
	.tuwu_renwu{height:800px;width:450px;margin:0 auto;}
	.hang{height: 50px;}
	.diyihang{line-height:50px;width:54%;font-size:20px;}
	.dierhangl{line-height:50px;width:30%;font-size:20px;}
	.dierhangr{line-height:50px;width:48%;font-size:20px;}
	.disanhangl{line-height:50px;width:27%;font-size:20px;}
	.disanhangr{line-height:50px;width:45%;font-size:20px;}
	.disihangl{line-height:50px;width:41%;font-size:20px;}
	.disihangr{line-height:50px;width:38%;font-size:20px;}
	.diwuhangl{line-height:50px;width:38%;font-size:20px;}
	.diwuhangr{line-height:50px;width:31%;font-size:20px;}
	.diliuhangl{line-height:50px;width:31%;font-size:20px;}
	.diliuhangr{line-height:50px;width:24%;font-size:20px;}
	.diqihang{line-height:50px;width:52%;font-size:20px;}
	.imei_select_type_font{z-index: 3}
}
@media screen and (max-width:400px){
	.tuwu_renwu{height:700px;width:400px;margin:0 auto;}
}