<div style="overflow: hidden;position:relative;" id="m1" ng-controller="imei_select_typeCtrl">
	<div ng-style="{'background-image':'url('+ imeiUserImg.attributes.imeiNameUserFirshImg._url + ')'}" 
	 class="tuwu_renwu"> 
	
			<div class="vacancy150"> </div>		
			<div class="vacancy150"> </div>		
			<div class="vacancy150"> </div>		
			<div class="vacancy150"> </div>		
			<div class="vacancy150"> </div>	
			<div class="vacancy150"> </div>	
		<div class="imei_select_type_font">
 			<div class="hang">  
 					<div class="red fr diyihang fadeInDownBig animated10" ui-sref="imei.imei_img_particulars({id:imeiUserImg.id})"> 花样美男</div>  
			</div>
			 <div class="hang clear"> 
			 		 <div class="red fl dierhangl  fadeInDownBig animated10" ui-sref="imei.imei_img_particulars({id:imeiUserImg.id})"> 花样少女</div> 
			 		 <div class="fenhong fr dierhangr fadeInDownBig animated12" ui-sref="imei.imei_img_particulars({id:imeiUserImg.id})"> 阳光型男</div> 
			 </div>
			 <div class="hang clear">
			   		 <div class="fenhong fl disanhangl fadeInDownBig animated12" ui-sref="imei.imei_img_particulars({id:imeiUserImg.id})"> 甜美清纯</div> 
			   		 <div class="zise fr disanhangr fadeInDownBig animated14" ui-sref="imei.imei_img_particulars({id:imeiUserImg.id})"> 清新可爱</div> 
			 </div>
			 <div class="hang clear">
			 		 <div class="zise fl disihangl fadeInDownBig animated14" ui-sref="imei.imei_img_particulars({id:imeiUserImg.id})">清新可爱 </div> 
			 		 <div class="huang fr disihangr fadeInDownBig animated16" ui-sref="imei.imei_img_particulars({id:imeiUserImg.id})"> 肌肉猛男</div> 
			 </div>
			 <div class="hang clear"> 
			 		 <div class="huang fl diwuhangl fadeInDownBig animated16" ui-sref="imei.imei_img_particulars({id:imeiUserImg.id})">性感妩媚 </div> 
			 		 <div class="lvse fr diwuhangr fadeInDownBig animated18" ui-sref="imei.imei_img_particulars({id:imeiUserImg.id})"> 成熟稳重</div> 
			 </div>
			 <div class="hang clear"> 
			 		 <div class="lvse fl diliuhangl fadeInDownBig animated18" ui-sref="imei.imei_img_particulars({id:imeiUserImg.id})">知性优雅 </div> 
			 		 <div class="lan fr diliuhangr fadeInDownBig animated20" ui-sref="imei.imei_img_particulars({id:imeiUserImg.id})"> 伪娘</div> 
			 </div>
			 <div class="hang clear"> 
			 		 <div class="lan fl diqihang fadeInDownBig animated20" ui-sref="imei.imei_img_particulars({id:imeiUserImg.id})"> 女汉子</div> 
			 	
			 </div>
		</div>
	</div>
</div>


	 	
		
	