<div ng-controller="homeCtrl" id="leftyi">
	<div>
		<span class="fl dianpin pulse">点评<!-- {{harry}} --></span>
		<span ng-repeat="item in productsList" ng-click="changeStatus(item)">
			 <!-- {{item.attributes.orderStatus}}  -->
		</span>
		<div class="shaixuan fr " onclick="btn()"><img src="img/shaixuan.png"  alt="按钮"/></div>
			</div>		
			<div class="vacancy80"> </div>	
			<div class="vacancy"> </div>
			<div class="tibu" id="tibu_btn">
		   		<div class="renwu fl pulse animated20" ui-sref="imei.home4"><img src="img/1.png" alt="img"/><div class="toumingdu"><a  class="fl">用户名 </a><br><a  class="fl">所在地 </a><a class="fr">距离 </a></div> 
		   		</div>
		   		<div class="renwu fl pulse animated20" ui-sref="imei.home4"><img src="img/2.jpg" alt="img"/><div class="toumingdu"><a  class="fl">用户名 </a><br><a  class="fl">所在地 </a><a class="fr">距离 </a> </div>
		   		</div>
		   		<div class="renwu fl pulse animated20" ui-sref="imei.home4"><img src="img/3.jpg" alt="img"/><div class="toumingdu"><a  class="fl">用户名 </a><br><a  class="fl">所在地 </a><a class="fr">距离 </a> </div> 
		   		</div>
		   		<div class="renwu fl pulse animated20" ui-sref="imei.home4"><img src="img/4.jpg" alt="img"/><div class="toumingdu"><a  class="fl">用户名 </a><br><a  class="fl">所在地 </a><a class="fr">距离 </a> </div>
		   	    </div>
		   		<div class="renwu fl pulse animated20 " ui-sref="imei.home4"><img src="img/5.jpg" alt="img"/><div class="toumingdu"><a  class="fl">用户名 </a><br><a  class="fl">所在地 </a><a class="fr">距离 </a> </div> 
		   		</div>
		   		<div class="renwu fl pulse animated20" ui-sref="imei.home4"> <img src="img/6.jpg" alt="img"/><div class="toumingdu"><a  class="fl">用户名 </a><br><a  class="fl">所在地 </a><a class="fr">距离 </a> </div>
		   		</div>
		   		<div class="renwu fl pulse animated20" ui-sref="imei.home4"><img src="img/6.jpg" alt="img"/><div class="toumingdu"><a  class="fl">用户名 </a><br><a  class="fl">所在地 </a><a class="fr">距离 </a> </div> 
		   		</div>
		   		<div class="renwu fl pulse animated20" ui-sref="imei.home4"><img src="img/6.jpg" alt="img"/><div class="toumingdu"><a  class="fl">用户名 </a><br><a  class="fl">所在地 </a><a class="fr">距离 </a> </div>
		   		</div>
		    </div>
		    
		 <div id="shaixuan_nannv" class="shaixuan_xianshi hide"> 			
				<ul>
					<a href="#"  class="fl" id="tu1_nan" onclick="nan()">男</a> <i class="gou1 fr hide"> </i>
					<ul class="fl  shaixuan_sex hide" id="nan_leixing">	
						<li><span>花样美男</span><i class="gou fr hide"> </i></li>
						 
						<li><span>阳光型男</span><i class="gou fr hide"> </i></li>
						 
						<li><span>清新可爱</span><i class="gou fr hide"> </i></li>
						 
						<li><span>肌肉猛男</span><i class="gou fr hide"> </i></li>
						 
						<li><span>成熟稳重</span><i class="gou fr hide"> </i></li>
						 
						<li><span>伪娘</span><i class="gou fr hide"> </i></li>
						 
					</ul>	
				</ul>	
				<ul>	
					<a href="#" class="fl" id="tu1_nv" onclick="nv()">女</a> <i class="gou1 fr hide"> </i>
					
					<ul class="fl shaixuan_sex hide" id="nv_leixing">	
						<li><span>花样少女</span><i class="gou fr hide"> </i></li>
						 
						<li><span>甜美清纯</span><i class="gou fr hide"> </i></li>
						 
						<li><span>清晰可爱</span><i class="gou fr hide"> </i></li>
						 
						<li><span>性感妩媚</span><i class="gou fr hide"> </i></li>
						 
						<li><span>知性优雅</span><i class="gou fr hide"> </i></li>
						 
						<li><span>女汉子</span><i class="gou fr hide"> </i></li>
						 
					</ul>						
				</ul>		
			</div>
		    
		</div>   		
 	<div class="vacancy150"> </div>