
		<div class="gao142"><em class="icon-arrow-left yy-icon-arrow-left" ui-sref="imei.imei_setup"> </em>&nbsp; 意见反馈  <div class="fr color_juse">发布</div></div>
		<div class="hr"> </div>
		<div class="gao300"> 
			<!-- <input type="text" placeholder="请你填写对iMei的意见，我们将不断改进，谢谢你对我们的主持。"> -->
			<textarea cols="50" rows="5" id="textarea" onKeyDown="textdown(event)" 
			onKeyUp="textup()" onfocus="if(value=='请你填写对iMei的意见，我们将不断改进，谢谢你对我们的支持。限100字') { value=''}" onblur="if (value =='')	
   			 {value='限100字'}">请你填写对iMei的意见，我们将不断改进，谢谢你对我们的支持。限100字</textarea>

			<SCRIPT type="text/javascript">    
				function textdown(e) 
				{
	   				 textevent = e;
	    			if (textevent.keyCode == 8) 
	    			{
	      			  return;
	   				}
	   				 if (document.getElementById('textarea').value.length >= 100) 
	   				 {
	        			alert("大侠，手下留情，此处限字100")
			        	if (!document.all)
			        	 {
			            textevent.preventDefault();
			        	} else 
			        	{
			            textevent.returnValue = false;
			        	}
		  	        }
			  }
			function textup() {
			    var s = document.getElementById('textarea').value;
			    //判断ID为text的文本区域字数是否超过100个 
			    if (s.length > 100) {
			        document.getElementById('textarea').value = s.substring(0, 100);
			    }
			}
</SCRIPT>   
		</div>
		<div class="bottom">
			<div class="hr"> </div>
			<div >电子邮件 <input type="text" placeholder="选填，以方便我们联系你。"></div>
		</div>
		
		
		
		