<div  ng-controller="imei_email_signinCtrl">
		<div class="gao142">
			<em class="icon-arrow-left yy-icon-arrow-left" ui-sref="imei.imei_sign_in"> </em>
			
			&nbsp; 使用Email注册
		</div>
		<div class="hr"> </div>
		<div class="gao142">昵称 &nbsp;<input type="text" placeholder="请输入昵称"   ng-model="username" required></div>
		
		<div class="hr"> </div>
		<div class="gao142">邮箱 &nbsp;<input type="email" placeholder="请输入Email地址"   ng-model="email" required></div>
		<div class="hr"> </div>
		<div class="gao142">密码 &nbsp;<input type="password" placeholder="6-16个字符"  ng-model="password" required></div>
		<div class="hr"> </div>
		<div class="vacancy40"> </div>
		<div class="gao155"><button class="gao155" ng-click="signUp()" >注册</button> </div>
		<div class="gao142 center">注册iMei账号表示同意<a class=" color_juse">用户协议</a></div>
</div>	