<!-- first -->
<ul class="nav">
	<li>
		<a ui-sref="incubator.dashboard-v1"> <i class="glyphicon glyphicon-home icon text-info-dker"></i> <span class="font-bold">基本信息</span> </a>
	</li>
	<li>
		<a ui-sref="incubator.dashboard-v1"> <i class="glyphicon glyphicon-th icon text-info-dker"></i> <span class="font-bold">孵化项目</span> </a>
	</li>
	<li>
		<a ui-sref="incubator.dashboard-v1"> <i class="glyphicon glyphicon-bell icon text-info-dker"></i> <span class="font-bold">最新咨询</span> </a>
	</li>
	<li>
		<a ui-sref="incubator.dashboard-v1"> <i class="glyphicon glyphicon-user icon text-info-dker"></i> <span class="font-bold">在孵团队</span> </a>
	</li>
	<li>
		<a ui-sref="incubator.dashboard-v1"> <i class="glyphicon glyphicon-ok icon text-info-dker"></i> <span class="font-bold">审阅项目</span> </a>
	</li>
	<li>
		<a ui-sref="incubator.dashboard-v1"> <i class="glyphicon glyphicon-file icon text-info-dker"></i> <span class="font-bold">简历库</span> </a>
	</li>
	<li>
		<a ui-sref="incubator.dashboard-v1"> <i class="glyphicon glyphicon-lock icon text-info-dker"></i> <span class="font-bold">毕业生</span> </a>
	</li>
	<li>
		<a ui-sref="incubator.dashboard-v1"> <i class="glyphicon glyphicon-tags icon text-info-dker"></i> <span class="font-bold">门卡管理</span> </a>
	</li>
</ul>
<!-- / third -->