
		<div class="tuwu_renwu">
			<!-- <img src="img/tusi/tu4renwutu.png"/> -->
			<div class="vacancy150"> </div>		
			<div class="vacancy150"> </div>		
			<div class="vacancy150"> </div>		
			<div class="vacancy150"> </div>		
 			<div class="hang">  
 					<div class="red fr diyihang fadeInDownBig animated10" ui-sref="imei.home4"> 花样美男</div>  
			</div>
			 <div class="hang"> 
			 		 <div class="red fl dierhangl  fadeInDownBig animated10" ui-sref="imei.home4"> 花样少女</div> 
			 		 <div class="fenhong fr dierhangr fadeInDownBig animated12" ui-sref="imei.home4"> 阳光型男</div> 
			 </div>
			 <div class="hang">
			   		 <div class="fenhong fl disanhangl fadeInDownBig animated12" ui-sref="imei.home4"> 甜美清纯</div> 
			   		 <div class="zise fr disanhangr fadeInDownBig animated14" ui-sref="imei.home4"> 清新可爱</div> 
			 </div>
			 <div class="hang">
			 		 <div class="zise fl disihangl fadeInDownBig animated14" ui-sref="imei.home4">清新可爱 </div> 
			 		 <div class="huang fr disihangr fadeInDownBig animated16" ui-sref="imei.home4"> 肌肉猛男</div> 
			 </div>
			 <div class="hang"> 
			 		 <div class="huang fl diwuhangl fadeInDownBig animated16" ui-sref="imei.home4">性感妩媚 </div> 
			 		 <div class="lvse fr diwuhangr fadeInDownBig animated18" ui-sref="imei.home4"> 成熟稳重</div> 
			 </div>
			 <div class="hang"> 
			 		 <div class="lvse fl diliuhangl fadeInDownBig animated18" ui-sref="imei.home4">知性优雅 </div> 
			 		 <div class="lan fr diliuhangr fadeInDownBig animated20" ui-sref="imei.home4"> 伪娘</div> 
			 </div>
			 <div class="hang"> 
			 		 <div class="lan fl diqihang fadeInDownBig animated20" ui-sref="imei.home4"> 女汉子</div> 
			 	
			 </div>

	 	
		</div>
	
