
	
	<div class="color_ee" ng-controller="tu23_tuisong_controller"> 

		
		
		<div class="gao142">
			<em class="icon-arrow-left yy-icon-arrow-left" ui-sref="imei.imei_setup"> </em>&nbsp; 消息推送
		 </div>
		<div class="hr"> </div>
		<div class="gao142"> 推送震动
			<div class="tu23_kaiguan fr" id="b1" ng-click="zhengdong()" ng-show="zhengdong_show">
				<div class="kaiguan_btn fr" id="btn1" > </div> 
				
			</div>
			<div class="tu23_kaiguanHui fr" id="b1" ng-click="zhengdong()"  ng-hide="zhengdong_show">
				
				<div class="kaiguan_btn fl " id="btn11"> </div>
			</div>
			
		</div>
		<div class="hr"> </div>
		<div class="gao142"> 推送声音 
			<div class="tu23_kaiguan fr" id="b2" ng-click="shengyin()" ng-show="shengyin_show">
				<div class="kaiguan_btn fr" id="btn2" > </div>
				
			</div>
			<div class="tu23_kaiguanHui fr" id="b2" ng-click="shengyin()" ng-hide="shengyin_show">
				
				<div class="kaiguan_btn fl " id="btn22" > </div>
			</div>
		</div>
		<div class="hr"> </div>
		<div class="gao142">夜间防骚扰(23:00-8:00) 
			<div class="tu23_kaiguan fr" id="b3"  ng-click="saorao()"  ng-show="saorao_show">
				<div class="kaiguan_btn fr" id="btn3"> </div>
				
			</div>
			<div class="tu23_kaiguanHui fr" id="b3"  ng-click="saorao()" ng-hide="saorao_show">
				
				<div class="kaiguan_btn fl " id="btn33" > </div> 
			</div>
		</div>
	</div>
