body {

}
/*---------------------图23意见反馈--------------*/
.gao142{height:50px;padding:46px;background:#fff;}
.gao300{height:200px;padding:50px;}
.color_juse{color:#FF4F24;}
.tu11_tubiao{ width:25px;height:40px; }
.tu11_tubiao img{width:100%}
/*input{background: none;outline:none;border:0px;width: 70%;height: 45px;color:#000;
font-size: 40px;word-wrap:break-word;}*/
textarea{background: none;outline:none;border:0px ;height:100%; width: 100%;color:#777;
font-size: 15px;word-wrap:break-word;}
.bottom{bottom:0px;position:absolute;height: 150px;line-height:150px;margin:0 0 0 30px;}
/*------------------关于imei------------------*/
.color_ee{background:#eee;}
.tu23_app{height:420px;width:100%;}
.app_ico{width: 200px;height: 200px;margin:30px auto;border-radius:20px; }
.app_ico img{width:100%;}
.imei_bottom{bottom:0px;position:relative;height: 350px;line-height:80px;width: 100%;margin:300px auto 0;}
.imei_bottom div{margin:0 auto;}
/*-------------------tu23 推送---------------------*/
 .tu23_kaiguan{background:#FF4F24;width:100px;height:52px;}
 .tu23_kaiguanHui{}
 .kaiguan_btn{background:#fff;width:48px;height:50px;margin:1px;}

@media screen and (max-width:800px){
	/*---------------------图23意见反馈--------------*/
	.gao142{height:40px;padding:36px;background:#fff;}
	.gao300{height:160px;padding:40px;}
	.tu11_tubiao{ width:25px;height:40px; }
	.bottom{bottom:0px;position:absolute;height: 120px;line-height:120px;margin:0 0 0 20px;width: 100%}
	/*input{background: none;outline:none;border:0px;width: 70%;height: 45px;color:#000;
font-size: 30px;word-wrap:break-word;}*/
	/*------------------关于imei------------------*/
	.tu23_app{height:400px;width:100%;}
	.app_ico{width: 160px;height: 160px;margin:30px auto;border-radius:20px; }
	.imei_bottom{bottom:0px;position:relative;height: 300px;line-height:60px;width: 100%;margin:200px auto 0;}

/*-------------------tu23 推送---------------------*/
.tu23_kaiguan{background:#FF4F24;width:90px;height:47px;margin:-10px;}
 .kaiguan_btn{background:#fff;width:44px;height:45px;margin:1px;}
}
@media screen  and (max-width:550px){
	.gao142{height:30px;padding:15px;background:#fff;}
	.gao300{height:110px;padding:15px;}
	.tu11_tubiao{ width:15px;height:24px; }
	.bottom{bottom:0px;position:absolute;height: 50px;line-height:50px;margin:0 0 0 20px;font-size:14px;}
	input{font-size:14px}
	/*------------------关于imei------------------*/
	.tu23_app{height:180px;width:100%;}
	.app_ico{width: 80px;height: 80px;margin:15px auto;border-radius:15px; }
	.imei_bottom{bottom:0px;position:relative;height: 120px;line-height:35px;width: 100%;margin:50px auto 0;}
	/*-------------------tu23 推送---------------------*/
	.tu23_kaiguan{background:#FF4F24;width:40px;height:20px;margin:0px;}
	.tu23_kaiguanHui{background:#eee;width:40px;height:20px;margin:0px;}
	 .kaiguan_btn{background:#fff;width:19px;height:18px;margin:1px;}
	 /*.imei_pushGao142Padding{}*/
}
