
		<!-- <div class="touminghui"> </div> -->
		
		<div class="gao142"><em class="icon-arrow-left yy-icon-arrow-left" ui-sref="imei.imei_setup"> </em>&nbsp;  邀请好友 </div>
		<div class="hr"> </div>
		<div> 
			<div class="gao150"> 
				<div class="yaoqing_img fl "><img src="img/imei_icon_tubiao/weixin_zheng.png"/> </div> 
				<div class="fensi_ming22 fl">邀请微信好友</div>
				
			</div>
			<div class="hr clear"> </div>
			<div class="gao150"> 
				<div class="yaoqing_img fl"><img src="img/imei_icon_tubiao/QQ_zheng.png"/> </div> 
				<div class="fensi_ming22 fl">邀请QQ好友 </div>
				
			</div>
			<div class="hr clear"> </div>
			<div class="gao150"> 
				<div class="yaoqing_img fl"><img src="img/imei_icon_tubiao/weibo_zheng.png"/> </div> 
				<div class="fensi_ming22 fl">邀请新浪微博好友</div>
				
			</div>
			<div class="hr clear"> </div>
		</div>
