
<div ng-controller="tu19_controller">
	<div class="touminghui" ng-hide="tu19_touminghui"></div>

	<div>
		<div class="gao142">
			<em class="icon-arrow-left yy-icon-arrow-left" ui-sref="imeimodel.imei_login_status"> </em>&nbsp; 设置
		</div>
		<div class="imei_setup_vacancyhui40"> </div>
	</div>

	<div>
		<div class="gao142 yaoqing" ui-sref="imei.imei_invite_friend">
			邀请好友
		</div>
		<div class="hr"></div>
		<div class="gao142 ">
			我的标签
		</div>
		<div class="hr"></div>
		<div class="gao142 mima" ui-sref="imei.imei_revamp_password">
			修改密码
		</div>
		<div class="hr"></div>
		<div class="gao142">
			Instagram照片一键备份
		</div>
		<div class="imei_setup_vacancyhui40"></div>

		<div class="gao142 tuisong" ui-sref="imei.imei_push">
			消息推送
		</div>
		<div class="hr"></div>

		<div class="gao142 guanyuimei" ui-sref="imei.imei_home_imei">
			关于iMei
		</div>
		<div class="hr"></div>
		<div class="gao142 cache" ng-click="tu11_cashe()">
			清除缓存(0.13MB)
		</div>
		<div class="hr"></div>
		<div class="gao142">
			用户协议
		</div>
		<div class="vacancyhui80"></div>
		<div class="gao155">
			<button class="gao155" ng-click="exit_yesno()">
				退出登录
			</button>
		</div>
		<div class="vacancyhui80"></div>
		<div class="no_cache center" ng-hide="cache_show">
			<div class=" cache_toubu">
				清除缓存
			</div>
			<div class="zhongbu">
				根据缓存文件大小，清理时间从几秒到几分钟不等，请
				耐心等待 
			</div>
			<div class="tu23_yes_no">
				<div class="fl  tu23_no_cache" ng-click="cashe_no()">
					取消
				</div>
				<div class="fl tu23_yes_cache" ng-click="cashe_yes()">
					确定
				</div>
			</div>
		</div>
		<div class="exit center" ng-hide="tu11_exit">
			<div class=" cache_toubu">
				确定退出
			</div>
			<div class="tu23_yes_no">
				<div class="fl  tu23_no" ng-click="exit_no()">
					取消
				</div>
				<div class="fl tu23_yes" ng-click="exit_yes()">
					确定
				</div>
			</div>
		</div>
	</div>
</div>

		