body {
/*background:#FF4F24;*/
}
.color_juse{color:#ff7f24;}
.gao142{height:50px;padding:46px;}
.gao155{height:150px;width: 100%;background: #FF7F24;font-size: 40px;color:#fff;}
.vacancyhui40{height:40px;background:#ddd;} .vacancyhui80{height:80px;background:#ddd;}
.tu11_tubiao{ width:25px;height:40px; }
/*----------------------------------图13------------------------------*/
.gao142 input{background: none;outline:none;border:0px;width: 210px;height: 45px;color:#000;
font-size: 35px;}
.tu13_or{height: 60px;color: #999;line-height:60px;}
.kuang40{height:30px;border-bottom: 1px solid #ccc;width:45%;}

.disanfang{width:30%;  margin:1%;}
.sanfang1{ width:160px;height:160px; margin:10px auto 30px; }
.sanfang1 img,.sanfang2 img,.sanfang3 img{width:100%}
.sanfang2{ width:160px;height:160px;margin:10px auto 30px; }
.sanfang3{ width:160px;height:160px; margin:10px auto 30px; }
/*--------------------------------tu23 清除缓存-----------------------*/
.touminghui{width:100%;height:100%;opacity:0.5;background:#000000;position:absolute;}
.no_cache{position:absolute;top:180px;width: 80%;height:360px;background:#fff;margin:0 10%;z-index: 3;}
.zhongbu{height:120px;margin:0 20px;font-size:30px;}
.cache_toubu{height:120px; line-height:120px;}
.tu23_no{width: 49%;height:120px;line-height:120px;border-top:1px solid #ccc;border-right:1px solid #ccc;}
.tu23_yes{width:49%;height:120px;line-height:120px;border-top:1px solid #ccc;}
.tu23_no_cache{width: 49%;height:120px;line-height:120px;border-top:1px solid #ccc;border-right:1px solid #ccc;}
.tu23_yes_cache{width:49%;height:120px;line-height:120px;border-top:1px solid #ccc;}
.imei_setup_vacancyhui40{height:40px;clear:both;background:#ddd;}
/*--------------------------------图23 确定退出--------------------------*/
.exit{height:240px;background:#FFFFFF;position:absolute;width:80%;top:650px;/*z-index: 3;*/margin:0 10%;z-index: 3;}
@media screen and (max-width:950px){
.gao142{height:40px;padding:36px;}
.gao155{height:130px;width: 100%;font-size: 35px;}
.vacancyhui40{height:35px;} .vacancyhui80{height:70px;;}
.tu11_tubiao{width:22px;height:35px; }
/*----------------------------------图13------------------------------*/
.gao142 input{width: 60%;height: 40px;font-size: 30px;}
}
@media screen and (max-width:650px){
.gao142{height:30px;padding:30px;}
.gao155{height:110px;width: 100%;font-size: 30px;}
.vacancyhui40{height:30px;} .vacancyhui80{height:60px;;}
.tu11_tubiao{width:15px;height:30px; }
/*----------------------------------图13------------------------------*/
.gao142 input{width: 60%;height: 40px;font-size: 25px;}
		
}
@media screen and (max-width:510px){

.gao142{height:25px;padding:25px;}
.gao155{height:100px;width: 100%;font-size: 25px;}
.vacancyhui40{height:25px;} .vacancyhui80{height:50px;;}
.tu11_tubiao{width:12px;height:25px; }
.sanfang1{ width:130px;height:130px; margin:10px auto 30px; }
.sanfang2{ width:130px;height:130px;margin:10px auto 30px; }
.sanfang3{ width:130px;height:130px; margin:10px auto 30px; }

	.gao142{height:25px;padding:20px;}
	.gao155{height:70px;width: 100%;font-size: 25px;}

	/*--------------------------------tu23 清除缓存-----------------------*/
	.touminghui{width:100%;height:130%;opacity:0.5;background:#000000;position:absolute;}
	.no_cache{position:absolute;top:600px;width: 80%;height:360px;background:#fff;margin:0 10%;}
	.zhongbu{height:120px;margin:0 20px;font-size:30px;}
	.cache_toubu{height:60px; line-height:60px;}
	.tu23_no{width: 49%;height:60px;line-height:60px;border-top:1px solid #ccc;border-right:1px solid #ccc;}
	.tu23_yes{width:49%;height:60px;line-height:60px;border-top:1px solid #ccc;}
	.vacancyhui40{height:20px;} .vacancyhui80{height:40px;;}
	
	
	.exit{height:120px;width:80%;top:300px;margin:0 10%;}
	.imei_setup_vacancyhui40{height:15px;clear:both;}
}
@media screen and (max-width:400px){
	.sanfang1{ width:100px;height:100px; margin:10px auto 20px; }
	.sanfang2{ width:100px;height:100px; margin:10px auto 20px; }
	.sanfang3{ width:100px;height:100px; margin:10px auto 20px; }
	/*--------------------------------tu23 清除缓存-----------------------*/
	.touminghui{width:100%;height:130%;opacity:0.5;background:#000000;position:absolute;}
	.no_cache{position:absolute;top:300px;width: 80%;height:220px;background:#fff;margin:0 10%;}
	.zhongbu{height:100px;margin:0 20px;font-size:20px;}
	.cache_toubu{height:60px; line-height:60px;}
	.tu23_no_cache{width: 49%;height:60px;line-height:60px;border-top:1px solid #ccc;border-right:1px solid #ccc;}
	.tu23_yes_cache{width:49%;height:60px;line-height:60px;border-top:1px solid #ccc;}
	.vacancyhui40{height:10px;} .vacancyhui80{height:20px;}.vacancy150{height:40px;}
	.imei_setup_vacancyhui40{height:15px;clear:both;}
	
}
