<div ng-controller="imeiRecordController" class="imei_recordPopupHead">
	<div class="touminghui"> </div>
	
<div class="tu6_tibu">
		<div class="recordBiaoti center">
			记录
		</div>
		<div class="hr"></div>
		<div class="fl shuxian"></div>
		<div class="start" ng-repeat="n in recordRelationdata">
			<div class="jilu1">
				<div class="jilu">
					
					
					<div class="fl"></div>
					<div  class="yuan fl clear">
						{{count}}
					</div>
					<span class="tu6_font  fl">5-29 Start 没时美刻</span>
				</div>
				<div class="fl youbian clear"></div>
				<div class="fr zoubian">
					<div class="hr"></div>
					<div class="tu6_img"  ui-sref="imei.imei_recordPopup">
						<img ng-src="{{n.attributes.imeiUserImg._url}}"/>
					</div>

				</div>
			</div>

		</div>
	</div>
	<div class="vacancy150"> </div>

	<div class="tu6_dianjihou" >
		<div class="toupiaolv center">
			投票率统计(1111人点评)
		</div>
		<div class="vacancy10"></div>

		<div class="hr"></div>
		<!-- <div class="vacancy"></div> -->
		<div class="tu6_touji">
			<ul class="tiaoxingtul fl">

				<li>
					花样少女
				</li>
				<li>
					甜美清纯
				</li>
				<li>
					清晰可爱
				</li>
				<li>
					知性优雅
				</li>
				<li>
					知性优雅
				</li>
				<li>
					女汉子
				</li>
			</ul>
			<div class="tiaoxingtur fr">
				<div class="tiaoxingtu fl">
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>19
				</div>
				<div class="tiaoxingtu fl">
					<span> &nbsp;&nbsp;&nbsp;&nbsp;</span> 13
				</div>
				<div class="tiaoxingtu fl">
					<span>&nbsp;&nbsp;&nbsp;&nbsp; </span> 16
				</div>
				<div class="tiaoxingtu fl">
					<span>&nbsp;</span> 17
				</div>
				<div class="tiaoxingtu fl">
					<span>&nbsp;&nbsp;</span> 13
				</div>
				<div class="tiaoxingtu fl">
					<span>&nbsp;</span> 10
				</div>
			</div>
		</div>
		<div class="vacancy"></div>
		<div class="tu6_or center">
			<div class="kuang40 fl"></div>
			分享至
			<div class="kuang40 fr"></div>
		</div>
		<div class="vacancy"></div>
		<div class="fenxiang center ">
			<div class="fenxiangCenter">
				<div class="fengxiang1 fl">
					<div class="tu6_disanfang1 "><img src="img/imei_icon_tubiao/pengyouquan.png" alt="朋友圈"/>
					</div>
					<span>朋友圈 </span>
				</div>
				<div class="fengxiang1 fl">
					<div class="tu6_disanfang2"><img src="img/imei_icon_tubiao/weixin.png" alt="微信"/>
					</div>
					<span>微信</span>
				</div>
				<div class="fengxiang1 fl">
					<div class="tu6_disanfang3"><img src="img/imei_icon_tubiao/xinlangweibo.png" alt="微博"/>
					</div>
					<span>新浪微博 </span>
				</div>
				<div class="fengxiang1 fl ">
					<div class="tu6_disanfang4"><img src="img/imei_icon_tubiao/QQkongjian.png" alt="QQ" />
					</div>
					<span>QQ空间</span>
				</div>
			</div>	
		</div>
		<div class="hr"> </div>
		<div class="vacancy"> </div>
		<div class="exit_btn center">
			<button class="quxiao" ui-sref="imeimodel.imei_record">
				取消
			</button>
		</div>
		<!-- <div class="appmodel_vacancy150"> </div> -->
	</div>

</div>