body {

}

.tu9_toubu{height:140px;line-height:140px;}
.tu9_toubu span{margin:0 0 0 30%}
.color_jise{color:#FF4F24;margin:0 30px;}
.denglu{ width: 150px;height:160px;}
.denglu img{width:100%;}
.tujiu_zhongbu{width:100%;margin:30px;font-size:30px;}
.tu9_zitizhong{font-weight: bold;display:block;margin:40px 10px;color:#000000;}
.tu9_ziti{display: block;margin:20px;}
/*.tu9_zitizhong{margin:40px 10px;}*/
.tujiu_tubiao{width: 30px;height:50px;margin:50px 2% 10px 15%;}
.tujiu_tubiao img{width: 100%}
.tibu_ziti{width:100%;font-size:35px;}
.tibu_ziti a{color: #000000;}
.ziti_bufen{width:33%;}

.denglu_wei{ width: 30%;height:250px;}
.dengli_ziti_wei{width: 650px;} 
/*----------------人物---------------*/
.tu9_renwu1{ width: 250px;height:255px;margin:30px 3%;}
.tu9_renwu1 img,.tu9_renwu2 img,.tu9_renwu3 img,.tu9_renwu4 img{width:100%}
.tu9_renwu2{ width: 250px;height:255px;margin:30px 3%;}
.tu9_renwu3{ width: 250px;height:255px;margin:30px 3%;}
.tu9_renwu4{ width: 250px;height:255px;margin:30px 3%;}
/*------------------------------tu9 dibu--------------------------*/
.dibu a:nth-child(1) .dibu_start9{width:70px;height: 70px;margin:50px 5.8% 50px 8%; background:url(../img/9.png);
background-size:cover;}
.dibu a:nth-child(2) .dibu_start9{width:70px;height: 70px;margin:50px 5.8%; background:url(../img/91.png);
background-size:cover;}
.dibu a:nth-child(3) .dibu_start9{width:220px;height: 150px;margin:0; background:#FF4F24;color:#FFFFFF;font-weight:bold;
line-height: 70px;font-size:30px;text-align: center;}
.dibu a:nth-child(4) .dibu_start9{width:70px;height: 75px;margin:50px 5.8%; background:url(../img/6.png) no-repeat ;
background-size:cover;}
.dibu a:nth-child(5) .dibu_start9{width:62px;height: 70px;margin:50px 5.8%; background:url(../img/061.png) no-repeat ;
background-size:cover;}

/*-------------响应式-----------*/
@media screen and (max-width:940px){
.tu9_toubu{height:130px;line-height:130px;font-size:35px;}
.color_jise{color:#FF4F24;margin:0 30px;}
.denglu{ width: 150px;height:160px;}
.denglu img{width:100%;}
.tujiu_zhongbu{width:100%;margin:30px;font-size:30px;}
.tu9_zitizhong{font-weight: bold;display:block;margin:20px 10px;color:#000000;}
.tu9_ziti{display: block;margin:10px;}
/*.tu9_zitizhong{margin:40px 10px;}*/
.tujiu_tubiao{ width: 30px;height:50px;margin:50px 2% 10px 10%;}
.tibu_ziti{width:100%;font-size:35px;}
.tibu_ziti a{color: #000000;}
.ziti_bufen{width:33%;}


.dengli_ziti_wei{width: 61%;} 
/*----------------人物---------------*/
.tu9_renwu1{ width: 200px;height:255px;margin:30px 3%;}
.tu9_renwu1 img,.tu9_renwu2 img,.tu9_renwu3 img,.tu9_renwu4 img{width:100%}
.tu9_renwu2{ width: 200px;height:255px;margin:30px 3%;}
.tu9_renwu3{ width: 200px;height:255px;margin:30px 3%;}
.tu9_renwu4{ width: 200px;height:255px;margin:30px 3%;}
.denglu_wei{ width: 30%;height:220px;}
}
@media screen and (max-width:850px){
.imei_login_status_tujiu_xinxi{width:55%;}
.denglu{ width: 140px;height:150px;}
.denglu_wei{ width: 30%;height:200px;}
}
@media screen and (max-width:750px){

.tu9_renwu1{ width: 27%;height:160px;margin:30px 3%;}
.tu9_renwu2{ width: 27%;height:160px;margin:30px 3%;}
.tu9_renwu3{ width: 27%;height:160px;margin:30px 3%;}
.tu9_renwu4{ width: 27%;height:160px;margin:30px 3%;}
	.tibu_ziti{font-size:20px;}
.tu9_toubu{height:120px;line-height:120px;font-size:30px;}
.denglu_wei{ width: 30%;height:170px;}
}
@media screen and (max-width:600px){
.tu9_zitizhong{margin:10px color:#000000;}
.tu9_ziti{display: block;margin:5px;}	
.denglu{ width: 85px;height:95px;}
.tujiu_zhongbu{width:100%;margin:30px;font-size:20px;}
.tu9_zitizhong{font-weight: bold;display:block;margin: 10px;color:#000000;}
.tu9_toubu{height:100px;line-height:100px;}
.denglu_wei{ width: 30%;height:160px;}
}

@media screen and (max-width:520px){
.imei_login_status_tujiu_xinxi{width:55%;}
.tu9_renwu1{ width: 27%;height:110px;margin:20px 3%;}
.tu9_renwu2{ width: 27%;height:110px;margin:20px 3%;}
.tu9_renwu3{ width: 27%;height:110px;margin:20px 3%;}
.tu9_renwu4{ width: 27%;height:110px;margin:20px 3%;}
.tujiu_tubiao{width: 30px;height:50px;margin:20px 2% 10px 5%;font-size:25px;}
.tu9_toubu{height:60px;line-height:60px;font-size:25px;}
.denglu_wei{ width: 30%;height:140px;}

}
@media screen and (max-width:420px){
	.tujiu_zhongbu{width:100%;margin:30px;font-size:20px;}
	.tu9_toubu{height:50px;line-height:50px;font-size:18px;}
	.tu9_toubu span{text-indent:400px}
	.vacancy40{height:10px}
	.yy-icon-arrow-right{font-size: 30px}
}