<div ng-controller="imei_login_statusCtrl">
 		<div class="tu9_toubu center">
 			<span class="center"> 我</span><a ui-sref="imei.imei_setup" class="fr color_jise">设置</a> 
 		</div>

 		<div class="hr"> </div>
 		 
	 		<div class="tujiu_zhongbu"> 
	 			<div class="fl denglu">
	 				<img src="img/tujiu/tu9_1.png"/> 
	 			</div>
	 			<div class="fl imei_login_status_tujiu_xinxi">
	 				<a class="tu9_zitizhong" href="tu16.html">心是灰的</a>
	 				<span class="tu9_ziti" >简介：我是一个小帮妞~咿呀咿呀哟~，</span> 
	 			</div>
	 			 <div class="tujiu_tubiao fl" ui-sref="imei.imei_revamp_data"><em class="icon-arrow-right yy-icon-arrow-right"> </em></div>
	 		</div>
 		
 		
 
 			
 		<div class="vacancy40"> </div>
 		
 		<div class="clear gr"> </div>
 		
 		<div class="tujiu_tibu" >
 		 	<div class="tibu_ziti"> 
	 			<a href="#" class="fl ziti_bufen center" > <span class="tu9_zitizhong">300</span><span class="tu9_ziti">照片 </span> </a>
	 			<a ui-sref="imei.imei_person_center" class="fl ziti_bufen center"> <span class="tu9_zitizhong">127</span><span class="tu9_ziti">关注 </span> </a>
	 			<a ui-sref="imei.imei_fans" class="fl ziti_bufen center"> <span class="tu9_zitizhong">134</span><span class="tu9_ziti">粉丝 </span> </a>
 		 	
 		 	</div>
 			<div class="tu9_img"  ng-repeat="n in recordRelationdata">
 			 	<div class="fl tu9_renwu1" ><img ng-src="{{n.attributes.imeiUserImg._url}}"/> </div>
	 	

 			</div>

 		</div>
 		
 		
 		
 		
 		<div class="appmodel_vacancy150"> </div>
 </div>
 		<!-- <div class="dibu">
		   		<a href="index.html"><span class="dibu_start fl center" ><img src="img/09.png"/>wo</span></a>
				<a href="tu6.html"><span class="dibu_start fl center"> <img src="img/09.png"/>wo</span></a>
				<a href="start.html"><span class="dibu_start fl" >Start<br>美食美刻 </span></a>
				<a href="tu8.html"><span class="dibu_start fl center" id="a4"> <img src="img/09.png"/>wo</span></a>
				<a href="tu9.html"><span class="dibu_start fl center" > <img src="img/09.png"/>wo</span></a>
		    </div>	 -->
 		<!-- 
		<div class="dibu">
		   		<a href="index.html"><span class="dibu_start9 fl"> </span></a>
				<a href="tu6.html"><span class="dibu_start9 fl"> </span></a>
				<a href="start.html"><span class="dibu_start9 fl">Start<br>美食美刻 </span></a>
				<a href="tu8.html"><span class="dibu_start9 fl"> </span></a>
				<a href="#"><span class="dibu_start9 fl" > </span></a>
		</div> -->

 <!-- <script type="text/javascript">
 	$(document).ready(function(){
 		$(".tujiu_zhongbu").click(function(){
 			window.location.href="tu16.html";
 		});
 		
 	});			
 </script> -->