
		<div class="touminghui"> </div>
		
		<div class="start_toubu">
			<div class="toubu fl">小纸条 <div class="di_juse hide"> </div></div>
			<div class="toubu fl">评论 <div class="di_juse"> </div></div>
			<div class="toubu fl">赞      <div class="di_juse hide"> </div></div>
		</div>
 		<div class="color_ee ">
 			<div class="fenxiangimg pulse animated"> 
 				<div class="fl yiban center">
 					<div class="start_img1"><img src="img/start/xiangce.png"/> </div>
 					<a class="xiangpian"> 相册 </a>
 				</div>
 				
 				<div class="fl yiban center" >
 					<div class="start_img2"><img src="img/start/xiangji.png"/> </div>
 					<a class="xiangpian center">拍照 </a>
 				</div>  	
 			</div>
 		</div>		
		<!-- <div class="dibu">
		   		<a href="index.html"><span class="dibu_start fl center" ><img src="img/09.png"/>wo </span></a>
				<a href="tu6.html"><span class="dibu_start fl center"><img src="img/09.png"/>wo </span></a>
				<a href="start.html"><span class="dibu_start fl" >Start<br>美食美刻 </span></a>
				<a href="tu8.html"><span class="dibu_start fl center" id="a4"><img src="img/09.png"/>wo </span></a>
				<a href="tu9.html"><span class="dibu_start fl center" > <img src="img/09.png"/>wo</span></a>
		</div> -->
		<!-- <div class="dibu">
		   		<a href="index.html"><span class="dibu_start fl center" ><img src="img/09.png"/>wo</span></a>
				<a href="tu6.html"><span class="dibu_start fl center"> <img src="img/09.png"/>wo</span></a>
				<a href="start.html"><span class="dibu_start fl" >Start<br>美食美刻 </span></a>
				<a href="tu8.html"><span class="dibu_start fl center" id="a4"> <img src="img/09.png"/>wo</span></a>
				<a href="tu9.html"><span class="dibu_start fl center" > <img src="img/09.png"/>wo</span></a>
		</div>
		 -->

