body {

}
a{color:#000000}
/*-----------------------------头部-----------------------------------*/
.start_toubu{width: 100%;height:100px;}
.toubu{width:33%;height: 100px;line-height:100px;font-size:40px;/*margin:0 4% 0 12%;*/text-align:center;}
.touminghui{background:#000000;opacity:0.5; width: 100%;height:100%;z-index: 2;position:absolute;}
.color_ee{background:#eee;width:100%;height:1483px;z-index: 3;position:absolute;top:0px;opacity:0.9;}
.di_juse{height:3px;background:#FF4F24;width:100%;bottom:0px;}
/*------------------------------body---------------------------------*/
.fenxiangimg{background:#fff;z-index:3;width:70%;height:320px;position:absolute;margin:400px 15%;}
.start_img1{width:150px;height: 125px;margin:50px auto;/*vertical-align: bottom; */}
.start_img2{width:150px;height: 125px;margin:50px auto;}

.yiban{width:50%; font-size:35px;}
/*-----------------------------底部-----------------------------------*/
.start_dibu3{width:220px;height: 150px;margin:0; background:#FF4F24;color:#FFFFFF;font-weight:bold;
line-height: 70px;font-size:30px;text-align: center;}
a:nth-child(1) .start_dibu{width:100px;height: 150px;margin:10px 3% 10px 5%;}
a:nth-child(2) .start_dibu{width:130px;height: 150px;margin:10px 4%;}
a:nth-child(3) .start_dibu{width:220px;height: 150px;margin:0; background:#FF4F24;color:#FFFFFF;font-weight:bold;
line-height: 70px;font-size:30px;text-align: center;}
a:nth-child(4) .start_dibu{width:100px;height: 150px;margin:10px 4%; }
a:nth-child(5) .start_dibu{width:102px;height: 150px;margin:10px 4%;}

a:nth-child(1) .start_dibu .dibu_tu{width:60px;height: 60px;margin:10px auto 10px; background:url(../img/9.png) no-repeat;
background-size:cover;display:block;}
a:nth-child(2) .start_dibu .dibu_tu{width:60px;height: 60px;margin:10px auto 10px; background:url(../img/4.png) no-repeat;
background-size:cover;display:block;}
a:nth-child(4) .start_dibu .dibu_tu{width:60px;height: 64px;margin:10px auto 10px; background:url(../img/6.png) no-repeat ;
background-size:cover;display:block;}
a:nth-child(5) .start_dibu .dibu_tu{width:56px;height: 64px;margin:10px auto 10px; background:url(../img/61.png) no-repeat ;
background-size:cover;display:block;}

.dibu{z-index: 3;}
/*-----------响应式-----------*/

@media screen and (max-width:800px){
/*-----------------------------头部-----------------------------------*/
.start_toubu{width: 100%;height:75px;}
.toubu{width:33%;height: 75px;line-height:75px;font-size:30px;}
.touminghui{background:#000000;opacity:0.5; width: 100%;height:100%;}
.color_ee{background:#eee;width:100%;height:1100px;}
.di_juse{height:3px;background:#FF4F24;width:100%;bottom:0px;}
/*------------------------------body---------------------------------*/
.fenxiangimg{background:#fff;z-index:3;width:70%;height:240px;position:absolute;margin:300px 15%;}
.start_img1{width:110px;height: 93px;margin:32px auto;/*vertical-align: bottom; */}
.start_img2{width:110px;height: 93px;margin:32px auto;}
.start_img1 img,.start_img2 img{max-width:100%;}

.yiban{width:50%; font-size:25px;}
/*-----------------------------底部-----------------------------------*/
.start_dibu3{width:170px;height: 75px;margin:0; background:#FF4F24;color:#FFFFFF;font-weight:bold;
line-height: 85px;font-size:22px;text-align: center;}
a:nth-child(1) .start_dibu{width:75px;height: 110px;margin:7px 3% 7px 5%;}
a:nth-child(2) .start_dibu{width:90px;height: 110px;margin:7px 4%;}
a:nth-child(3) .start_dibu{width:170px;height:110px;margin:0; background:#333;color:#FFFFFF;font-weight:bold;
line-height: 85px;font-size:22px;text-align: center;}
a:nth-child(4) .start_dibu{width:75px;height: 110px;margin:7px 4%; }
a:nth-child(5) .start_dibu{width:75px;height: 110px;margin:7px 4%;}
}

@media screen and (max-width:450px){
/*-----------------------------头部-----------------------------------*/
.start_toubu{width: 100%;height:50px;}
.toubu{width:33%;height: 50px;line-height:50px;font-size:20px;}
.touminghui{background:#000000;opacity:0.5; width: 100%;height:100%;}
.color_ee{background:#eee;width:100%;height:630px;}
.di_juse{height:3px;background:#FF4F24;width:100%;bottom:0px;}
/*------------------------------body---------------------------------*/
.fenxiangimg{background:#fff;z-index:3;width:70%;height:160px;position:absolute;margin:200px 15%;}
.start_img1{width:75px;height: 62px;margin:25px auto;/*vertical-align: bottom; */}
.start_img2{width:75px;height: 62px;margin:25px auto;}
.start_img1 img,.start_img2 img{max-width:100%;}
.yiban{width:50%; font-size:17px;}
/*-----------------------------底部-----------------------------------*/
.start_dibu3{width:110px;height: 75px;margin:0; background:#3;color:#FFFFFF;font-weight:bold;
line-height: 35px;font-size:15px;text-align: center;}
a:nth-child(1) .start_dibu{width:50px;height: 75px;margin:5px 3% 5px 5%;}
a:nth-child(2) .start_dibu{width:65px;height: 75px;margin:5px 4%;}
a:nth-child(3) .start_dibu{width:110px;height:75px;margin:0; background:#FF4F24;color:#FFFFFF;font-weight:bold;
line-height: 35px;font-size:15px;text-align: center;}
a:nth-child(4) .start_dibu{width:50px;height: 75px;margin:5px 4%; }
a:nth-child(5) .start_dibu{width:50px;height: 75px;margin:5px 4%;}

}