.tuba_biaoti{font-weight: bold;font-size:40px;}
.tuba_biaotiPadding{padding:15px 0 0 0;}
@media screen and (max-width:940px){
.tuba_biaoti {font-size:18px;}
.personalMessage{height:60px;}
.systemMessage{height:60px;}
.tuba_biaotiPadding{padding:8px 0 0 0;}
.messagePersonImg{height:40px;width:40px;margin:10px 20px;}
.messageSysemImg{height:40px;width:40px;margin:10px 20px;}
.messagePersonImg img{width:100%;}
.messageSysemImg img{width:100%}
/*.messageSysemImgpadding{}*/
.messagePersonImgpadding{padding:10px 20px;}
.messageSysemImg img,.messageSysemImg img{width:100%}
.messagePersonMiddle{line-height: 20px;font-size: 15px;margin:10px;}
 .messagePersonBehavior{line-height: 20px;font-size: 15px;margin:10px;}
.messageSysemContent{line-height: 15px;font-size: 15px;margin:8px;}

}
@media screen and (max-width:420px){
	.tuba_biaoti{
font-size:18px;height:40px;
font-weight: bold;


}

}
