<div ng-controller="imei_messageCtrl">

	<div class="tuba_biaoti center">
		<div class="tuba_biaotiPadding">
			消息
		</div>
	</div>

	<div class="tuba_hui"></div>

	<div class="personalMessage">
		<div class="hr"></div>
		<div>
			<div class="messagePersonImg fl" >
				<!-- <div class="messagePersonImgpadding"></div> -->
				{{img}} <img src="img/2.jpg" alt="img1"/>
				
			</div>
			<div class="messagePersonMiddle fl">
				<div>
					{{data}}buoosi
				</div>
				<div>
					{{behavior}}date
				</div>
			</div>
			
			<div class="messagePersonBehavior fl"> &nbsp;&nbsp;messagePersonBehavior  </div>
		</div>
	</div>
	<div class="systemMessage clear">
		<div class="hr "></div>
		<div >
			<div class="messageSysemImg fl">
				<!-- <div class="messageSysemImgpadding"> </div> -->
				{{img}} <img src="img/a0.jpg" alt="img1"/>
				
			</div>
			<div class="messageSysemContent fl">
				<div>
					{{data}}系统消息
				</div>
				<div>
					{{behavior}}date
				</div>
				<div class="sysemBehavior">
					{{behavior}}sysemBehavior
				</div>
			</div>
		</div>
	</div>
	<div class="hr"></div>
</div>


