<div ng-controller="homeCtrl"> 
	<div  id="leftyi">
		<div class="indexHead">
			<span class="fl dianpin pulse">点评<!-- {{harry}} --></span>
			<div class="shaixuan fr " >
				<em class="icon-list yy_icon-list" ng-click="homeBtn()"> </em>
			</div>
		</div>
		
	
		<div class="tibu" id="tibu_btn">
			<div class="renwu fl pulse animated20" ng-repeat="x in imeiIndexImg"  ui-sref="imei.imei_img_particulars({id: x.id})">
				<img ng-src="{{x.attributes.imeiNameUserFirshImg._url}}" alt="img"/>
				<div class="toumingdu">
					<!-- <div class="toumingduFont"></div> -->
						<a  class="fl">{{x.attributes.UserSex}} </a>
						<br>
						<a  class="fl">{{x.attributes.UserLive}} </a><a class="fr">距离 </a>
					
				</div>
			</div>
		
		</div>
		
		
	</div>
	 <div id="shaixuan_nannv" class="shaixuan_xianshi" ng-hide="homeHide">		
					<ul>
						<a href="#"  class="fl" id="tu1_nan" onclick="nan()">男  <i class="gou1 fr hide"> </i></a> 
						
						<ul class="fl  shaixuan_sex hide" id="nan_leixing">	
							<li><span>花样美男</span><i class="gou fr hide"> </i></li>
							 
							<li><span>阳光型男</span><i class="gou fr hide"> </i></li>
							 
							<li><span>清新可爱</span><i class="gou fr hide"> </i></li>
							 
							<li><span>肌肉猛男</span><i class="gou fr hide"> </i></li>
							 
							<li><span>成熟稳重</span><i class="gou fr hide"> </i></li>
							 
							<li><span>伪娘</span><i class="gou fr hide"> </i></li>
							 
						</ul>	
					</ul>	
					<ul>	
						<a href="#" class="fl" id="tu1_nv" onclick="nv()">女 <i class="gou1 fr hide"> </i></a> 
						
						<ul class="fl shaixuan_sex hide" id="nv_leixing">	
							<li><span>花样少女</span><i class="gou fr hide"> </i></li>
							 
							<li><span>甜美清纯</span><i class="gou fr hide"> </i></li>
							 
							<li><span>清晰可爱</span><i class="gou fr hide"> </i></li>
							 
							<li><span>性感妩媚</span><i class="gou fr hide"> </i></li>
							 
							<li><span>知性优雅</span><i class="gou fr hide"> </i></li>
							 
							<li><span>女汉子</span><i class="gou fr hide"> </i></li>
							 
						</ul>						
					</ul>		
				</div>
	<div class="appmodel_vacancy150"></div>
</div>
	