body {
/*background:#eee;*/
}
select{width:150px;height:50px;font-size:35px;}
.gao142{height:50px;padding:46px;background:#fff;}
.tu11_tubiao{ width:25px;height:50px;}
.tu11_tubiao img{width:100%}
.tu16_dan{color:#999;width:30%;}
.touminghui{width: 100%;height: 100%;position: absolute;opacity:0.5;background:#000;z-index: 2}
/*----------------------修改sex--------------------*/
.tu16_sex{background:#fff;width:80%;height:200px;z-index: 3;position: absolute;margin: 0 10% 0 8%; 
top:700px;padding: 0 0 0 4%;}
.tu16_sex div{height:50%;line-height:100px;font-size: 40px;}

/*-----------------------update site-----------------------*/
.update_site{background:#fff;width:80%;height:400px;z-index: 3;position: absolute;margin: 0 10% ; 
top:500px;}
.site_ming{width:100%;height:80%;position:relative;}
.yes_no{width:100%;height:30%;}
.yes_no div{width: 50%;height: 100%;line-height:120px;}
.shengfen{height: 100%;width: 50%;}
.shengfen ul a{margin: 10px;background:#2BE7E4;height: 80px;line-height: 80px;display:block;}
.shengfen ul li{width:100%;height:80px,line-height:80px;text-align:0 auto;float:left;background:#E0ABDD;display:block;}

@media screen and (max-width:850px){
	.gao142{height:40px;padding:36px;}
	.tu11_tubiao{ width:20px;height:40px; }
	/*----------------------修改sex--------------------*/
	.tu16_sex{width:80%;height:200px;top:350px;padding: 0 0 0 4%;}
	.tu16_sex div{height:50%;line-height:100px;font-size: 40px;}
	
	/*-----------------------update site-----------------------*/
	.update_site{background:#fff;width:80%;height:400px;z-index: 3;position: absolute;margin: 0 10% ; 
	top:350px;}
	.site_ming{width:100%;height:80%;position:relative;}
	.yes_no{width:100%;height:30%;}
	.yes_no div{width: 50%;height: 100%;line-height:120px;}
	.shengfen{height: 100%;width: 50%;}
	.shengfen ul a{margin: 10px;background:#2BE7E4;height: 80px;line-height: 80px;display:block;}
	.shengfen ul li{width:100%;height:80px,line-height:80px;text-align:0 auto;float:left;background:#E0ABDD;display:block;}
		
}
@media screen and (max-width:650px){
	.gao142{height:35px;padding:30px;}
	.tu16_sex{width:80%;height:200px;top:250px;padding: 0 0 0 4%;}
	.update_site{width:80%;height:400px;	top:250px;}
	select{width:120px;height:30px;font-size:20px;}
}
@media screen and (max-width:500px){

	.tu11_tubiao{ width:15px;height:30px;}
	.gao142{height:30px;padding:25px;}
	.tu16_sex{width:80%;height:200px;top:200px;padding: 0 0 0 4%;}
	.update_site{width:80%;height:400px;	top:200px;}
	select{width:60px;height:20px;font-size:14px;}
}
