

</script> -->
<div ng-controller="tu16_controller">
		<div class="touminghui hide" ng-hide="tu16_touminghui"> </div>
		
		<div class="gao142"><em class="icon-arrow-left yy-icon-arrow-left" ui-sref="imeimodel.imei_login_status"> </em>&nbsp; 修改资料</div>
		<div class="hr"> </div>
		<div class="gao142"> <div class="tu16_dan fl">昵称</div><span class="tu16_zhong " >舌尖旅人</span></div>
		<div class="hr"> </div>
		<div class="gao142 sex"> <div class="tu16_dan fl">性别</div>
		<span >
	
   


			<select>
				  <option value ="volvo">男</option>
				  <option value ="saab">女</option>
				  
			</select>
		</span>
		</div>
		
		<div class="hr"> </div>
		<div class="gao142 live"> <div class="tu16_dan fl" >所在地</div>
		<span >
				<select id="selectId" 
				ng-model="vm.selectVal" ng-options="o.id as o.title for o in vm.optionsData" 
				ng-change="selectChangeq()">
   					 <option value="">请选择</option>
    			</select>

		
			<select ng-show="shiXian">
				  <option value ="position">市/县</option>
				  
			</select>
			<select ng-hide="beiJing_show">
				  <option value ="region88">海定区</option>
				  <option value ="region88">福建</option>
				  <option value ="region88">福建</option>
				  <option value ="region88">甘肃</option>
				  <option value ="region88">广东</option>
				  <option value ="region88">广西</option>
				  <option value ="region88">海南</option>
				  <option value ="region88">河北</option>
			</select>
			<select ng-hide="guangDong_show">
				  <option value ="region88">广东</option>
				  <option value ="region88">福建</option>
				  <option value ="region88">福建</option>
				  <option value ="region88">甘肃</option>
				  <option value ="region88">广东</option>
				  <option value ="region88">广西</option>
				  <option value ="region88">海南</option>
				  <option value ="region88">河北</option>
			</select>
			<select ng-hide="shangHai_show">
				  <option value ="region88">上海</option>
				  <option value ="region88">福建</option>
				  <option value ="region88">福建</option>
				  <option value ="region88">甘肃</option>
				  <option value ="region88">广东</option>
				  <option value ="region88">广西</option>
				  <option value ="region88">海南</option>
				  <option value ="region88">河北</option>
			</select>
			<select ng-hide="huNan_show">
				  <option value ="region88">湖南</option>
				  <option value ="region88">福建</option>
				  <option value ="region88">福建</option>
				  <option value ="region88">甘肃</option>
				  <option value ="region88">广东</option>
				  <option value ="region88">广西</option>
				  <option value ="region88">海南</option>
				  <option value ="region88">河北</option>
			</select>
			
		

			
		</span>
		</div>
		<div class="hr"> </div>
		<div class="gao142"> <div class="tu16_dan fl">简介</div><span class="tu16_zhong" > </span></div>
		
		
	</div>	

		<!-- <div class="tu16_sex" ng-hide="sex_show"> 
			<div ng-click="tu16_boy()"> 男</div>
			<div ng-click="tu16_girl()">女</div>
		</div>		
		<div class="update_site" ng-hide="region_show">
			<div class="site_ming"> 
				<div class=" fl shengfen bj">
					<ul class="center">
						<a href="#" class="zhongguo_sheng">省份</a>							
						<ul class="hide xiala_sheng">
									<li class="anhuisheng">安徽</li>
									<li>澳门特别行政区 </li>
									<li>福建</li>
									<li>甘肃</li>
									<li class="guangdongsheng">广东 </li>
									<li>广西</li>
									<li>海南</li>
									<li>河北 </li>
									<li>河南</li>
									<li>黑龙江</li>
									<li>湖北 </li>
									<li>湖南</li>
									<li>吉林</li>
									<li>江苏 </li>
									<li>江西</li>
									<li>辽宁</li>
									<li>内蒙古 </li>
									<li>宁夏</li>
									<li>山东</li>
									<li>山西 </li>
									<li>四川</li>
									<li>新疆</li>
									<li>云南 </li>									
								</ul>					
											
					</ul>					
				</div>
				<div class=" fl diqu ">
					<ul ><a class="zhongguo_diqu">地区</a> </ul>
					<ul class=" anhui">
						<a href="#">安徽</a>							
								<ul class="hide shiji">
									<li>安庆</li>
									<li>蚌埠 </li>
									<li>亳州</li>
									<li>巢湖</li>
									<li>池州 </li>
									<li>滁州</li>
									<li>阜阳</li>
									<li>合肥 </li>
									<li>淮北</li>
									<li>淮南</li>
									<li>黄山 </li>
									<li>六安</li>
									<li>马鞍山</li>
									<li>宿州 </li>
									<li>铜陵</li>
									<li>芜湖</li>
									<li>宣城 </li>									
								</ul>											
					</ul>
					<ul class="hide guangdong">
						<a href="#">广东</a>							
								<ul class="hide shiji">
									<li>潮州</li>
									<li>东莞 </li>
									<li>佛山</li>
									<li>广州</li>
									<li>河源 </li>
									<li>惠州</li>
									<li>江门</li>
									<li>揭阳 </li>
									<li>茂名</li>
									<li>梅州</li>
									<li>清远 </li>
									<li>汕头</li>
									<li>汕尾</li>
									<li>韶关 </li>
									<li>深圳</li>
									<li>阳江</li>
									<li>云浮 </li>
									<li>湛江</li>
									<li>肇庆</li>
									<li>中山 </li>
									<li>珠海</li>
									
								</ul>							

					</ul>
									
				</div>
			</div>			
			<div class="yes_no"> 				
				<div class="fl center" ng-click="tu16_region_cancel()">取消</div>
				<div class="fl center" ng-click="tu16_region_yes()">确定</div>
			</div>			
		</div> -->
	<!-- <ul>
						<li><a href="#">安徽</a>							
								<ul class="hide shiji">
									<li>安庆</li>
									<li>蚌埠 </li>
									<li>亳州</li>
									<li>巢湖</li>
									<li>池州 </li>
									<li>滁州</li>
									<li>阜阳</li>
									<li>合肥 </li>
									<li>淮北</li>
									<li>淮南</li>
									<li>黄山 </li>
									<li>六安</li>
									<li>马鞍山</li>
									<li>宿州 </li>
									<li>铜陵</li>
									<li>芜湖</li>
									<li>宣城 </li>
									<li>宁夏</li>
									<li>山东</li>
									<li>山西 </li>
									<li>四川</li>
									<li>新疆</li>
									<li>云南 </li>	
								</ul>							
						</li>
					</ul>
					<ul>
						<li><a href="#">安徽</a>							
								<ul class="hide shiji">
									<li>安庆</li>
									<li>蚌埠 </li>
									<li>亳州</li>
									<li>巢湖</li>
									<li>池州 </li>
									<li>滁州</li>
									<li>阜阳</li>
									<li>合肥 </li>
									<li>淮北</li>
									<li>淮南</li>
									<li>黄山 </li>
									<li>六安</li>
									<li>马鞍山</li>
									<li>宿州 </li>
									<li>铜陵</li>
									<li>芜湖</li>
									<li>宣城 </li>
									<li>宁夏</li>
									<li>山东</li>
									<li>山西 </li>
									<li>四川</li>
									<li>新疆</li>
									<li>云南 </li>	
								</ul>							
						</li>
					</ul>
					<ul>
						<li><a href="#">安徽</a>							
								<ul class="hide shiji">
									<li>安庆</li>
									<li>蚌埠 </li>
									<li>亳州</li>
									<li>巢湖</li>
									<li>池州 </li>
									<li>滁州</li>
									<li>阜阳</li>
									<li>合肥 </li>
									<li>淮北</li>
									<li>淮南</li>
									<li>黄山 </li>
									<li>六安</li>
									<li>马鞍山</li>
									<li>宿州 </li>
									<li>铜陵</li>
									<li>芜湖</li>
									<li>宣城 </li>
									<li>宁夏</li>
									<li>山东</li>
									<li>山西 </li>
									<li>四川</li>
									<li>新疆</li>
									<li>云南 </li>	
								</ul>							
						</li>
					</ul>
					<ul>
						<li><a href="#">安徽</a>							
								<ul class="hide shiji">
									<li>安庆</li>
									<li>蚌埠 </li>
									<li>亳州</li>
									<li>巢湖</li>
									<li>池州 </li>
									<li>滁州</li>
									<li>阜阳</li>
									<li>合肥 </li>
									<li>淮北</li>
									<li>淮南</li>
									<li>黄山 </li>
									<li>六安</li>
									<li>马鞍山</li>
									<li>宿州 </li>
									<li>铜陵</li>
									<li>芜湖</li>
									<li>宣城 </li>
									<li>宁夏</li>
									<li>山东</li>
									<li>山西 </li>
									<li>四川</li>
									<li>新疆</li>
									<li>云南 </li>	
								</ul>							
						</li>
					</ul>
					<ul>
						<li><a href="#">安徽</a>							
								<ul class="hide shiji">
									<li>安庆</li>
									<li>蚌埠 </li>
									<li>亳州</li>
									<li>巢湖</li>
									<li>池州 </li>
									<li>滁州</li>
									<li>阜阳</li>
									<li>合肥 </li>
									<li>淮北</li>
									<li>淮南</li>
									<li>黄山 </li>
									<li>六安</li>
									<li>马鞍山</li>
									<li>宿州 </li>
									<li>铜陵</li>
									<li>芜湖</li>
									<li>宣城 </li>
									<li>宁夏</li>
									<li>山东</li>
									<li>山西 </li>
									<li>四川</li>
									<li>新疆</li>
									<li>云南 </li>	
								</ul>							
						</li>
					</ul>
					<ul>
						<li><a href="#">安徽</a>							
								<ul class="hide shiji">
									<li>安庆</li>
									<li>蚌埠 </li>
									<li>亳州</li>
									<li>巢湖</li>
									<li>池州 </li>
									<li>滁州</li>
									<li>阜阳</li>
									<li>合肥 </li>
									<li>淮北</li>
									<li>淮南</li>
									<li>黄山 </li>
									<li>六安</li>
									<li>马鞍山</li>
									<li>宿州 </li>
									<li>铜陵</li>
									<li>芜湖</li>
									<li>宣城 </li>
									<li>宁夏</li>
									<li>山东</li>
									<li>山西 </li>
									<li>四川</li>
									<li>新疆</li>
									<li>云南 </li>	
								</ul>							
						</li>
					</ul>
					<ul>
						<li><a href="#">安徽</a>							
								<ul class="hide shiji">
									<li>安庆</li>
									<li>蚌埠 </li>
									<li>亳州</li>
									<li>巢湖</li>
									<li>池州 </li>
									<li>滁州</li>
									<li>阜阳</li>
									<li>合肥 </li>
									<li>淮北</li>
									<li>淮南</li>
									<li>黄山 </li>
									<li>六安</li>
									<li>马鞍山</li>
									<li>宿州 </li>
									<li>铜陵</li>
									<li>芜湖</li>
									<li>宣城 </li>
									<li>宁夏</li>
									<li>山东</li>
									<li>山西 </li>
									<li>四川</li>
									<li>新疆</li>
									<li>云南 </li>	
								</ul>							
						</li>
					</ul>
					<ul>
						<li><a href="#">安徽</a>							
								<ul class="hide shiji">
									<li>安庆</li>
									<li>蚌埠 </li>
									<li>亳州</li>
									<li>巢湖</li>
									<li>池州 </li>
									<li>滁州</li>
									<li>阜阳</li>
									<li>合肥 </li>
									<li>淮北</li>
									<li>淮南</li>
									<li>黄山 </li>
									<li>六安</li>
									<li>马鞍山</li>
									<li>宿州 </li>
									<li>铜陵</li>
									<li>芜湖</li>
									<li>宣城 </li>
									<li>宁夏</li>
									<li>山东</li>
									<li>山西 </li>
									<li>四川</li>
									<li>新疆</li>
									<li>云南 </li>	
								</ul>							
						</li>
					</ul>
					<ul>
						<li><a href="#">安徽</a>							
								<ul class="hide shiji">
									<li>安庆</li>
									<li>蚌埠 </li>
									<li>亳州</li>
									<li>巢湖</li>
									<li>池州 </li>
									<li>滁州</li>
									<li>阜阳</li>
									<li>合肥 </li>
									<li>淮北</li>
									<li>淮南</li>
									<li>黄山 </li>
									<li>六安</li>
									<li>马鞍山</li>
									<li>宿州 </li>
									<li>铜陵</li>
									<li>芜湖</li>
									<li>宣城 </li>
									<li>宁夏</li>
									<li>山东</li>
									<li>山西 </li>
									<li>四川</li>
									<li>新疆</li>
									<li>云南 </li>	
								</ul>							
						</li>
					</ul>
					<ul>
						<li><a href="#">安徽</a>							
								<ul class="hide shiji">
									<li>安庆</li>
									<li>蚌埠 </li>
									<li>亳州</li>
									<li>巢湖</li>
									<li>池州 </li>
									<li>滁州</li>
									<li>阜阳</li>
									<li>合肥 </li>
									<li>淮北</li>
									<li>淮南</li>
									<li>黄山 </li>
									<li>六安</li>
									<li>马鞍山</li>
									<li>宿州 </li>
									<li>铜陵</li>
									<li>芜湖</li>
									<li>宣城 </li>
									<li>宁夏</li>
									<li>山东</li>
									<li>山西 </li>
									<li>四川</li>
									<li>新疆</li>
									<li>云南 </li>	
								</ul>							
						</li>
					</ul> -->