<div class="global"  ng-controller="imei_tusi_controller">
	<div class="vacancy"></div>
	<div class="fadeInRightBig animated">
		<a class="tusi_tupiao1 fl" ui-sref="imeimodel.index"><em class="icon-arrow-left yy-icon-arrow-left"> </em> </a>
		<div class="zhaopianxiangqin">
			照片详情
		</div>
	</div>
	 <div class="vacancy"></div>
	<!--<div class="vacancy"></div>
	<div class="vacancy"></div> -->
	<div class="tusi_xiaotu zoomIn animated" >
		<img ng-src="{{imeiUserImg.attributes.imeiNameUserFirshImg._url}}" alt="img"/>
	</div>
	<div class="tusi_xuelv" >
		<a>雪绿</a><!-- ui-sref="imeimodel.index" -->
		<button  class="tusi_guanzhu fr zoomIn animated"   ng-click="bian1()" ng-show="ok1" >
			关注
		</button>
		<button  class="tusi_yiguanzhu fr zoomIn animated" ng-click="bian1()" ng-hide="ok1">
			已关注
		</button>
	</div>


 	<div class="vacancy"> </div>
	


	<div class="tu4_renwutu zoomIn animated " >
		<a ui-sref="imei.imei_select_type({id:imeiUserImg.id})"> <img ng-src="{{imeiUserImg.attributes.imeiNameUserFirshImg._url}}" alt="img"/> </a>

		<div class="renwu_miaoshu zoomInUp animated16  " id="miaoshu"><img src="img/tusi/renwubiaoqian.png"/><span >{{imgParticulars[0].attributes.maxlabel}}我是小白</span>
		</div>
	</div>


	<div class="toupiaolv">
		投票率统计(1111人点评)
	</div>

	<div class="hr clear"></div>

	<div>
		<ul class="tiaoxingtul fl">

			<li>
				花样少女
			</li>
			<li>
				甜美清纯
			</li>
			<li>
				清晰可爱
			</li>
			<li>
				知性优雅
			</li>
			<li>
				知性优雅
			</li>
			<li>
				女汉子
			</li>
		</ul>
		<div class="tiaoxingtur fr">
			<div class="tiaoxingtu fl">
				<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>14
			</div>
			<div class="tiaoxingtu fl">
				<span> &nbsp;&nbsp;&nbsp;&nbsp;</span> 13
			</div>
			<div class="tiaoxingtu fl">
				<span>&nbsp;&nbsp;&nbsp;&nbsp; </span> 16
			</div>
			<div class="tiaoxingtu fl">
				<span> &nbsp;</span> 17
			</div>
			<div class="tiaoxingtu fl">
				<span> &nbsp;&nbsp;</span> 13
			</div>
			<div class="tiaoxingtu fl">
				<span> &nbsp;</span> 10
			</div>
		</div>
	</div>

</div>
	