
		<div class="touminghui hide"> </div>
		
		<div class="gao142">
			<em class="icon-arrow-left yy-icon-arrow-left" ui-sref="imei.imei_setup"> </em>
			&nbsp; 关于iMei 
		</div>
		<div class="hr"> </div>
		<div class="tu23_app"> 
			<div class="vacancy40"> </div>
			<div class="app_ico"><img src="img/imei_icon_tubiao/imei.png"/></div>
			<div class="center">版本1.0</div>
		</div>
		<div class="gao142"> 功能介绍 </div>
		<div class="hr"> </div>
		<div class="gao142 yijianfankui" ui-sref="imei.imei_home_feedback"> 意见反馈 </div>
		
		<div class="hr"> </div>
		<div class="gao142">检查新版本 </div>
		<div class="hr"> </div>
		<div class="imei_bottom center"> 
			<div > 
				<span>XX公司版权所有</span><br>
				<span>Copyright *  2015XX</span><br>
				<span>All Rights Reserves</span>
			</div>
		</div>
