<div ng-controller="imei_not_loginCtrl">
		
 		<div class="imei_not_logintu9_toubu center">
 			<span class="center"> 我</span> 
 				
 		</div>

 		<div class="hr"> </div>
 
 			<div class="tujiu_zhongbu" ui-sref="imei.imei_login_interface"> 
	 			<div class="fl denglu_wei" >
	 				<img src="img/imei_icon_tubiao/weidengludetouxiang.PNG" alt="img"/> 
	 			</div>
	 			<div class="fl dengli_ziti_wei" >
	 				
	 				<a class="tu9_zitizhong"  >点击登录</a>
	 				<span class="tu9_ziti" >登陆后可对陌生人照片进行选评，发布个人照片获取自己独有的标签。</span> 
	 			</div>
 			
 			</div>
 			
 		
 		<div class="clear gr"> </div>
 		
 		<div class="tujiu_tibu" >
 		 	<div class="tibu_ziti"> 
	 			<a href="#" class="fl ziti_bufen center" ><span class="tu9_zitizhong">300</span><span class="tu9_ziti">照片 </span> </a>
	 			<a  class="fl ziti_bufen center" ui-sref="imei.imei_person_center"> <span class="tu9_zitizhong">127</span><span class="tu9_ziti">关注 </span> </a>
	 			<a  class="fl ziti_bufen center" ui-sref="imei.imei_fans"> <span class="tu9_zitizhong">134</span><span class="tu9_ziti">粉丝 </span> </a>
 		 	</div>
 			<div class="tu9_img" ng-repeat="n in recordRelationdata">
 				
 			 	<div class="fl tu9_renwu1"><img ng-src="{{n.attributes.imeiUserImg._url}}"/>  </div>
	 			
			</div>

 		</div>

 		<div class="vacancy150"> </div>
 </div>
		
		

