
  <div class="app-content">
    <div ui-butterbar> </div>
    <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside" > </a>
    <!-- 你看这一行:假如这一样是：app.home,意思就是把home的html文件放到这里面 -->
    <div class="app-content-body fade-in-up" ui-view>
    	
    </div>
  </div>