<div class="app-content">
	<div ui-butterbar> </div>

	<a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside" > </a>
	<!-- 你看这一行:假如这一样是：app.home,意思就是把home的html文件放到这里面 -->
	<div class="app-content-body fade-in-up" ui-view>

	</div>
</div>

<div ng-controller="imeiAppmodelCtrl">
	<div id="imeiModeltop" >
		
		<div class="fl"><button class="imeiModelStartNo fl" ng-click="imeiModelImgUploadNo()">取消 </button></div>
		
		<div class="fl"><button class="imeiModelStartYes fr" ng-click="imeiModelImgUpload()">上传 </button></div>
		
	</div>
		
	<div class="color_ee " ng-hide="imeiAppmodelImg">
		<div class="fenxiangimg pulse animated">
			<div class="fl yiban center" >
				<div class="start_img1"><img src="img/start/xiangce.png" ng-click="imeiFileSelectImg()" />
				</div>
				<a class="xiangpian"> 相册 </a>
			</div>
<input type="file" class="hide" id="imeiFileToUpload"  multiple   accept="image/*;capture=camera" capture="camera" />

			<div class="fl yiban center" >
				<div class="start_img2"><img src="img/start/xiangji.png"/>
				</div>
				<a class="xiangpian center">拍照 </a>
			</div>
		</div>
	</div>
	<div class="dibu" >

		<a ui-sref="imeimodel.index" ng-click="buttomFirst()">
			<span class="dibu_start fl center" id="AppModelButtomFirstIcon" ng-hide="AppModelButtomFirst"> <p class="icon-note yy_icon" ></p>
			<p class="bottom_heightline">点评</p>
			</span>

			<span class="dibu_start fl center" id="AppModelButtomFirstIconOrange" ng-show="AppModelButtomFirst"> <p class="icon-note yy_iconOrange" ></p>
			<p class="bottom_heightlineOrange">点评</p>
			</span>  
		</a>
			
		<a ui-sref="imeimodel.imei_record" ng-click="buttomSecond()">
			<span class="dibu_start fl center" id="AppModelButtomSecondIcon" ng-show="AppModelButtomSecond"> <p class="icon-clock yy_icon"></p>
			<p class="bottom_heightline">排行</p>
			</span>
			
			<span class="dibu_start fl center" id="AppModelButtomSecondIcon" ng-hide="AppModelButtomSecond"> <p class="icon-clock yy_iconOrange"></p>
			<p class="bottom_heightlineOrange">排行</p>
			</span> 
		</a>
		<a ng-click="imeiAppmodelStart()"><span class="dibu_start fl" >Start
			<br>
			美食美刻 </span></a>
	
		<a ui-sref="imeimodel.imei_message" ng-click="buttomFourthly()">
			<span class="dibu_start fl center" id="AppModelButtomFourthlyIcon" ng-show="AppModelButtomFourthly"> <p class="icon-envelope yy_icon"></p>
			<p class="bottom_heightline">消息</p></span>
			
			<span class="dibu_start fl center" id="AppModelButtomFourthlyIcon" ng-hide="AppModelButtomFourthly"> <p class="icon-envelope yy_iconOrange"></p>
			<p class="bottom_heightlineOrange">消息</p></span>
		 </a>
		<a ui-sref="imeimodel.imei_not_login" ng-click="buttomFifth()">
			<span class="dibu_start fl center" id="AppModelButtomFifthIcon" ng-show="AppModelButtomFifth"> <p class="icon-user yy_icon"></p>
			<p class="bottom_heightline">我</p></span> 
			
			<span class="dibu_start fl center" id="AppModelButtomFifthIcon"  ng-hide="AppModelButtomFifth"> <p class="icon-user yy_iconOrange"></p>
			<p class="bottom_heightlineOrange">我</p></span> 
		
		</a>
	</div>
</div>