
<div ng-controller="ShowController19">
	<div class="gao142">
		<em class="icon-arrow-left yy-icon-arrow-left" ui-sref="imeimodel.imei_login_status"> </em>&nbsp;  粉丝
	</div>
	<div class="hr clear"></div>

	<div>
		<div class="gao150">
			<div class="fengsi_img fl"><img src="img/1.png" alt="img1"/>
			</div>
			<div class="fensi_ming fl">
				懒得睡觉
			</div>
			<div class="fensi_guanzhu fl center" ng-show="ok1" ng-click="bian1()">
				关注
			</div>
			<div class="yiguanzhu fl center" ng-hide="ok1" ng-click="bian1()">
				已关注
			</div>

		</div>
		<div class="hr clear"></div>
		<div class="gao150">
			
			<div class="fengsi_img fl"><img src="img/4.jpg" alt="img2"/>
			</div>
			<div class="fensi_ming fl">
				你够够的
			</div>
			<div class="fensi_guanzhu fl center" ng-click="bian2()" ng-show="ok2">
				关注
			</div>
			<div class="yiguanzhu fl center" ng-click="bian2()" ng-hide="ok2">
				已关注
			</div>
		</div>

		<div class="gao150">
			<div class="hr clear"></div>
			<div class="fengsi_img fl"><img src="img/5.jpg" alt="img3"/>
			</div>
			<div class="fensi_ming fl">
				点格灰色
			</div>
			<div class="fensi_guanzhu fl center" ng-click="bian3()" ng-show="ok3">
				关注
			</div>
			<div class="yiguanzhu fl center" ng-click="bian3()" ng-hide="ok3">
				已关注
			</div>
		</div>
		<div class="hr clear"></div>

	</div>
</div>