body {
/*---------------background:#eee;------------------*/
}
.gao142{height:50px;padding:46px;}
.imei_setuptu19_tubiao{width:25px;height:40px; }
.gao150{height: 150px;}
.fengsi_img{width:100px;height:100px;margin:25px;}
.fengsi_img img{width:100%}

.fensi_ming{padding:50px;width: 45%;}
.fensi_guanzhu{margin:25px auto;width:200px;height:100px;background:#FF4F24;
color:#fff;line-height:100px}

/*----------------------图20关注--------------------*/
.yiguanzhu{margin:25px auto;width:200px;height:100px;background:#e5e5e5;
color:#999;line-height:100px}
/*---------------------tu22----------------------*/
.yaoqing_img{width:120px;height:100px;margin:15px;}
.yaoqing_img img{width:100%}
.fensi_ming22{padding:50px;width: 65%;}
@media screen and (max-width:950px){
	
	.gao142{height:60px;padding:20px;}
	.imei_setuptu19_tubiao{ width:25px;height:40px;}
	.gao150{height: 130px;}
	.fengsi_img{width:90px;height:90px;margin:20px;}
	
	.fensi_ming{padding:40px;width: 40%;}
	.fensi_guanzhu{margin:20px auto;width:180px;height:90px;line-height:90px}
	
	/*----------------------图20关注--------------------*/
	.yiguanzhu{margin:20px auto;width:180px;height:90px;line-height:90px}
	/*---------------------tu22----------------------*/
	.yaoqing_img{width:100px;height:100px;margin:15px;}
	.yaoqing_img img{width:100%}
	.fensi_ming22{padding:40px;width: 60%;}

}
@media screen and (max-width:680px){
	/*body{font-size:30px}*/
	.gao142{height:40px;padding:15px;} 
	.imei_setuptu19_tubiao{ width:px;height:30px;}
	.gao150{height: 110px;}	
	.fengsi_img{width:50px;height:50px;margin:10px;}	
	.fensi_ming{padding:30px 5px;width: 45%;}
	.fensi_guanzhu{margin:10px auto;width:140px;height:70px;line-height:70px}
	/*----------------------图20关注--------------------*/
	.yiguanzhu{margin:10px auto;width:140px;height:70px;line-height:70px}
		/*---------------------tu22----------------------*/
	.yaoqing_img{width:80px;height:80px;margin:15px;}
	.yaoqing_img img{width:100%}
	.fensi_ming22{padding:30px 5px;width: 60%;}
}
@media screen and (max-width:510px){
	body{font-size:25px}
	.gao142{height:30px;padding:15px;} 
	.fensi_ming{padding:30px 5px;width: 45%;}
	.fengsi_img{width:50px;height:50px;margin:10px;}
	.imei_setuptu19_tubiao{ width:20px;height:20px;}
	.fensi_guanzhu{margin:20px auto;width:90px;height:50px;line-height:50px}
	
		/*----------------------图20关注--------------------*/
	.yiguanzhu{margin:20px auto;width:90px;height:50px;line-height:50px}
	/*---------------------tu22----------------------*/
	.yaoqing_img{width:70px;height:70px;margin:15px;}
	
}
@media screen and (max-width:410px){
	body{font-size:20px}
	.gao142{height:25px;padding:15px;} 
	.fensi_ming{padding:25px 5px;width: 40%;}
	
	.fensi_guanzhu{margin:15px auto;width:90px;height:50px;line-height:50px}
	.gao150{height: 90px;}	
		/*----------------------图20关注--------------------*/
	.yiguanzhu{margin:15px auto;width:90px;height:50px;line-height:50px}
	/*---------------------tu22----------------------*/
	.yaoqing_img{width:70px;height:60px;margin:10px;}
}

