*{margin:0px;padding:0px;} body{font-size:40px ;font-family:"Adobe黑体"; color:#666;} .bj{background:#26B2F2;}
li{list-style:none;} a{text-decoration:none;} ul{width:100%;}
.fl{float:left;} .fr{float:right;} .center{text-align:center;}
.vacancy{height:20px;clear:both;}.vacancy80{height:80px;clear:both;}.vacancy40{height:40px;clear:both;}.vacancy10{height:10px;clear:both;}.vacancy150{height:150px;clear:both;}
.appmodel_vacancy150{height:150px;clear:both;}
.hide{display: none; }
.clear{clear:both;}

.global{width:100%; margin: 0 auto;}
.bubian{width: 100%;height: 60px;background:#000 ;top:0; position: fixed;}
.dianpin{margin: 3% 0 0 46% ;font-size:40px;font-weight:bold;}
.shaixuan{margin:2% 5% 0 0;width:20px;height:80px;}
.yy-icon-arrow-left{color:#333}
.yy_iconOrange{color:#FF4F24;font-size:24px;}
/*-----------------------------modelapp-------------------------*/
#imeiModeltop{background:#fff;clear:both;bottom:60px; position: fixed;height:42px;display: none;z-index:5; width:100%;}
#imeiModeltop div{width: 50%;}
.imeiModelStartNo{height:40px;width:99%;background:#eee;margin:1px auto;}
.imeiModelStartYes{height:40px;width:99%;background:#eee;margin:1px auto;}
/*-------------------------筛选男女---------------------------------*/
/*#shaixuan_nannv{display:none;}*/
.shaixuan_xianshi{width:80%;height:2000px;top:80px;position:absolute;right: 0px;}
.shaixuan_xianshi li{}
.shaixuan_xianshi ul a{display:block;font-size: 50px;font-weight:bold;margin:10px;width:100%;color:#000000;  border-bottom: 1px solid #999;}
.shaixuan_sex li{font-size: 50px;padding: 20px 60px;}
.shaixuan_sex li a {width:70%;}
.hr{border-bottom: 1px solid #ccc;}
.gou{background:url(../img/gou.png) no-repeat;width: 50px;height: 40px;margin:10px 50px;
background-size: cover;}
.gou1{background:url(../img/gou.png) no-repeat;width: 50px;height: 40px;margin:10px 110px;
background-size: cover;}
.shaixuan_sex li:hover .gou{display:block;}
.shaixuan_xianshi ul:hover .gou1{display:block;}

#shaixuan_nannv ul ul li{border-bottom:1px solid #999;}
/*.shaixuan_xianshi ul:hover .shaixuan_sex{display:block;}*/
/*------------------------体部img------------------------------------*/  
.nav{height: 80px;line-height:80px;position: fixed;width:100%;z-index: 2;background:#fff;}
.nav div,.nav span{position: static;}
.renwu{width:50%; /*margin:0 0 1% 0;*/}
.renwu img{width: 100%;}
/*.renwu:nth-child(2){width:46%;height:470px; background:url(../img/2.jpg); background-size:cover;
margin:0 4% 1% 0;}
.renwu:nth-child(3){width:46%;height:470px; background:url(../img/6.jpg); background-size:cover;
margin:0 4% 1% 0;}
.renwu:nth-child(4){width:46%;height:470px; background:url(../img/4.jpg); background-size:cover;
margin:0 4% 1% 0;}
.renwu:nth-child(5){width:46%;height:470px; background:url(../img/5.jpg); background-size:cover;
margin:0 4% 1% 0;}
.renwu:nth-child(6){width:46%;height:470px; background:url(../img/3.jpg); background-size:cover;
margin:0 4% 1% 0;}
.renwu:nth-child(7){width:46%;height:470px; background:url(../img/3.jpg); background-size:cover;
margin:0 4% 1% 0;}
.renwu:nth-child(8){width:46%;height:470px; background:url(../img/3.jpg); background-size:cover;
margin:0 4% 1% 0;}*/
.toumingdu{background:#333;margin:-90px 0 0;height:80px;line-height:40px;opacity:0.5; width:100%;color:#FFFFFF;
font-size:30px;font-weight:bold;}
.toumingdu a{font:30px;display: block;margin:  0px 20px;}
/*.toumingdu a:nth-child(1) .toumingdu a:nth-child(2){ display:inline-block; padding:10px;float:left; margin:20px;}*/
/*---------------------------------底部------------------------------*/
.dibu {width:100%;height:150px;background:#fff;clear:both;/*position:absolute;*/bottom:0; position: fixed; }
/*.dibu a:nth-child(1) .dibu_start{width:70px;height: 70px;margin:20px 5.8% 50px 8%; }
.dibu a:nth-child(2) .dibu_start{width:70px;height: 70px;margin:20px 5.8%;}*/
.dibu a:nth-child(3) .dibu_start{width:220px;height: 150px;margin:0; background:#FF4F24;color:#FFFFFF;font-weight:bold;
line-height: 70px;font-size:30px;text-align: center;}
/*.dibu a:nth-child(4) .dibu_start{width:70px;height: 75px;margin:20px 5.8%;}
.dibu a:nth-child(5) .dibu_start{width:62px;height: 70px;margin:20px 5.8%;}*/
.dibu_start {width:70px;height:70px;margin:20px 5.8% 10px;}
.dibu_start img{width:100%}
/*=====================================tuba===========================*/

/*.tibu{left: -90%;position:relative;}*/
.yy_icon{font-size:25px;color:#666;}
.yy_icon-list{font-size:40px;}
/*---------------------app.model-----------------------------------*/
.dibu a:nth-child(1){}
/*.toumingduFont{color:#fff;opacity:none;}*/
/*-----------响应式-----------*/
@media screen and (max-width:950px){
	/*---------------------------------底部------------------------------*/
.dibu {width:100%;height:120px;background:#fff;clear:both;bottom:0; position: fixed; }
.dibu a:nth-child(3) .dibu_start{width:150px;height: 120px;margin:0; background:#FF4F24;color:#FFFFFF;font-weight:bold;
line-height: 50px;font-size:22px;text-align: center;}
.dibu_start {width:44px;height:45px;margin:15px 7% 7px;}
}
@media screen and (max-width:800px){
	/*---------------------------------底部------------------------------*/
.dibu {width:100%;height:120px;background:#fff;clear:both;bottom:0; position: fixed; }
.dibu a:nth-child(3) .dibu_start{width:150px;height: 120px;margin:0; background:#FF4F24;color:#FFFFFF;font-weight:bold;
line-height: 50px;font-size:22px;text-align: center;}
.dibu_start {width:44px;height:45px;margin:15px 6% 7px;}
}
@media screen and (max-width:650px){
	/*body{font-size:30px ;}*/
	.dianpin{font-size:30px;}
	.shaixuan{margin:2% 5% 0 0;width:15px;height:30px;}
	.shaixuan img{max-width:100%;}
	/*-------------------------筛选男女---------------------------------*/
.shaixuan_xianshi{width:80%;height:1500px;top:60px;position:absolute;right: 0px;}
.shaixuan_xianshi ul a{display:block;font-size: 30px;
font-weight:bold;margin:15px;width:100px;color:#000000;}
.shaixuan_sex li{font-size: 20px;padding: 15px 45px;}
.shaixuan_sex li a {width:70%;}
.hr{border-bottom: 1px solid #ccc;}
.gou{background:url(../img/gou.png) no-repeat;width: 38px;height: 30px;margin:8px 37px;
background-size: cover;}
.gou1{background:url(../img/gou.png) no-repeat;width: 38px;height: 30px;margin:8px 75px;
background-size: cover;}
/*------------------------体部img------------------------------------*/  
.nav{height: 60px;line-height:60px;position: fixed;width:100%;z-index: 2;background:#fff;}
.toumingdu{background:#333;margin:-60px 0 0;height:60px;line-height:30px; width:100%;color:#FFFFFF;
font-size:22px;font-weight:bold;}
.toumingdu a{font:22px;display: block;margin:  0px 15px;color:#fff; opacity:none;}
/*---------------------------------底部------------------------------*/
.dibu {width:100%;height:80px;background:#fff;clear:both;bottom:0; position: fixed;font-size:18px; }
.dibu a:nth-child(3) .dibu_start{width:120px;height: 80px;margin:0; background:#FF4F24;color:#FFFFFF;font-weight:bold;
line-height: 40px;font-size:22px;text-align: center;}
.dibu_start {width:44px;height:45px;margin:15px 5% 7px;}
/*=====================================tuba===========================*/

.vacancy{height:15px;clear:both;}.vacancy80{height:60px;clear:both;}.vacancy40{height:30px;clear:both;}.vacancy10{height:7px;clear:both;}.vacancy150{height:100px;clear:both;}
}

@media screen and (max-width:510px){
	body{font-size:20px ;font-family:"Adobe黑体";}
	.dianpin{font-size:14px;}
	.shaixuan{margin:10px 5px 0 0;width:30px;height:30px;}
	/*.shaixuan img{max-width:100%;}*/
	/*-------------------------筛选男女---------------------------------*/

.shaixuan_xianshi{width:80%;height:600px;top:40px;position:absolute;right: 0px;}
.shaixuan_xianshi ul a{display:block;font-size: 15px;
font-weight:bold;margin:10px;width:100%;color:#000000;}
.shaixuan_sex li{font-size: 15px;padding: 10px 30px;}
.shaixuan_sex li a {width:70%;}
.hr{border-bottom: 1px solid #ccc;}
.gou{background:url(../img/gou.png) no-repeat;width: 25px;height: 20px;margin:5px 25px;
background-size: cover;}
.gou1{background:url(../img/gou.png) no-repeat;width: 25px;height: 20px;margin:5px 50px;
background-size: cover;}

/*------------------------体部img------------------------------------*/  
.nav{height: 40px;line-height:40px;position: fixed;width:100%;z-index: 2;background:#fff;}

.toumingdu{background:#333;margin:-45px 0 0;height:40px;line-height:20px; width:100%;color:#FFFFFF;
font-size:12px;font-weight:bold;color:#fff;}
.toumingdu a{font:15px;display: block;margin:  0px 10px;}
/*---------------------------------底部------------------------------*/
.dibu {width:100%;height:60px;background:#fff;clear:both;bottom:0; position: fixed;font-size: 15px }
.dibu a:nth-child(3) .dibu_start{width:90px;height:60px;margin:5px 0 ; background:#FF4F24;color:#FFFFFF;font-weight:bold;
line-height: 25px;font-size:15px;text-align: center;}
.dibu_start{width:30px;height:30px;margin:10px 6% 5px;}

/*=====================================tuba===========================*/


.vacancy{height:5px;clear:both;}.vacancy80{height:40px;clear:both;}.vacancy40{height:20px;clear:both;}.vacancy10{height:5px;clear:both;}.vacancy150{height:150px;clear:both;}
.vacancy150{height:75px;clear:both;}
.appmodel_vacancy150{height:70px;clear:both;}
.indexHead{height:40px;}
.yy_icon-list{font-size:20px;}
}
@media screen and (max-width:420px){
.dibu {width:100%;height:60px;background:#fff;clear:both;bottom:0; position: fixed; font-size:10px;}
.dibu a:nth-child(3) 
.dibu_start{width:90px;height: 60px;margin:0; background:#FF4F24;color:#FFFFFF;font-weight:bold;
line-height: 30px;font-size:15px;text-align: center;}
.dibu_start {width:30px;height:50px;margin:5px 5%;}
.vacancy80{height:20px;}
.yy_icon{font-size:24px;}
.yy_icon-list{font-size:20px;}
.bottom_heightline{line-height:30px;color:#666;}
.bottom_heightlineOrange{line-height:30px;color:#FF4F24;}
}

/*#AppModelButtomFirstIcon{color:rgb(102,102,102);}
#AppModelButtomSecondIcon{color:rgb(102,102,102);}
#AppModelButtomFourthlyIcon{color:rgb(102,102,102);}
#AppModelButtomFifthIcon{color:rgb(102,102,102);}*/
/*.dibu_start:nth-child(1){width:40px;height: 40px;margin:10px 1%; background:url(../img/9.png) #3BE9DF;
background-size:cover;}
}*/
